@charset "utf-8";
body{
  background: none;
}
#wrap{

  padding-top:  12%;
  max-width: 700px;
}
.left{

  float: left;
  margin-top: 7px;
}
.left a{

  display: block;
  width: 100%;
  height: 100%;
}
.left a img{

}
.right{

  float: left;
  border-left: 2px solid #01b1ec;
  padding-left: 7%;
  margin-left: 4%;
}
.right h2{

  color: #01b1ec;
}
.right p{

  margin-bottom: 20px;
  color: #999;
}
.right p br:nth-last-child(1){
  
  margin-top: 15px;
}

#wrap h1{
font-size: 70px;
font-weight: bold;
color: #0a385b;
margin-bottom: 30px;
}
#wrap h1 span{
  font-size: 90px;
}
div .btn-group{
  float: right;
  margin-top: 30px;
}
div .btn-group a{
  
  width: 100px;
}
div .btn-group a:first-child+a{
border-left: 1px solid #fff;
  border-radius: 0 3px 3px 0 !important;
}

div .btn-group a:first-child:hover{
border-right: 1px solid #fff;
}
/* 반응형 */
@media (max-width: 740px){
  #wrap{
    text-align: center;

max-width: 500px;
  }
  #wrap h1{
    display: none;
  }
  .left{
    float: none;
    margin-bottom: 25px;

  }
  .right{
    border: 0;

    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;

border-top: 2px solid #01b1ec;

float: none;

margin: 0;

padding: 0;
  }
  div .btn-group{
    float: none;
  }
}
@media (max-width: 454px){
  .right{
    text-align: left;
  }
.right h2{
  font-size: 19px;

margin-bottom: 0;
}
.right p br:nth-last-child(1){
    margin-top: 9px;
  }
}
@media (max-width: 382px){
  .right p br:nth-last-child(1){
    margin: 0;
  }
  .right p br:nth-last-child(2){
    margin-bottom: 9px;
  }

}