@charset "utf-8";
.m-t >button{
	background-color: #444 !important;
border-color: #333 !important;
height: 40px;
	margin-bottom: 30px;
}

.m-t >button:hover{
background-color: #333 !important;

border-color: #222 !important;
}
ul{
list-style: none;
padding: 0;
}
ul li{

}
.bottom_tab{
height: 30px;
margin-bottom: 20px;

}
.bottom_tab li{
	float: left;
width: 33.3333%;
height: 100%;
border-right: 1px solid #ddd;
}
.bottom_tab li:last-child{
	border-right: none;
}
.bottom_tab li a{
	display: block;
	height: 100%;
	color: #777;
	line-height: 30px;
}
.form-control:focus, .single-line:focus {

    border-color: #E61D25 !important;

}
.loginscreen.middle-box{
	padding: 0;
	height: 100%;
	width: 450px;
	max-width: unset;
}
.login_card{
	padding-right: 35px;
padding-left: 35px;
}
.form-control, .single-line{
	height: 40px;
}
.loginscreen.middle-box >div{
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
}
@media (max-width:480px){

.loginscreen.middle-box{
    width: 100%;
}
.loginscreen.middle-box > div{
	width: 100%;

}
.login_card{
	border-radius: 0;
}
.middle-box h2 a img{
	max-width: 100%;
}
}
@media (max-width:340px){
	.login_card {
    padding-right: 15px;
    padding-left: 15px;
}
}
@media (max-width:280px){


	.middle-box h2 a img{
	
	}
}
@media (max-height:550px){
	.loginscreen.middle-box{
		padding: 0;

height: 100%;
	}
	.middle-box >div{
		height: 100%;

display: table;

width: 100%;
	}
	.logo_img_div{
	display: none;
	}
	.login_card{
		height: 100%;

border-radius: 0;

display: table-cell;

vertical-align: middle;
	}
}