@charset "utf-8";
div.wrapper >div.col-lg-12{
	margin-bottom: 50px;
}
.body-small.mini-navbar{
	margin: 0;
}
.body-small.mini-navbar #wrapper{
position: fixed;
    z-index: 1111111;
    height: 100%;
}
.body-small.mini-navbar div#page-wrapper{
	width: calc(100% - 70px);
}
#data_5{
	margin-bottom: 0;
}
.body-small div#page-wrapper{
	width: 100%;
    overflow: hidden;
}
.mini-navbar #page-wrapper{
width: calc(100% - 70px);
 overflow: hidden;
 margin-left: 70px;
}
div#page-wrapper{

	    width: calc(100% - 285px);
    overflow: hidden;
}
html{
	min-width: 287px;
}
body{
    background: #F3F3F4;
}
.ibox-content >form{
	margin-bottom: 0;
}

.wrapper-content{
margin: 0 auto;
    padding: 0;
}

.navbar-static-top{
    width: auto !important;
	margin: 0;
	padding-left: 40px;
}

.form-horizontal .form-group.panopto_btn{
margin: 0 auto;
}
.form-horizontal .form-group.panopto_btn .text-center{
margin-left: 0;
}

@media (max-width: 1400px){
.form-group:last-child > div:nth-child(3) {
    display: block !important;
}
.form-horizontal#saveFrm .form-group:first-child div.col-sm-8{
	    width: 66.66666667%;
}
}
@media (max-width: 1200px){
div.ibox-title{
	padding: 14px 15px 7px;
}
}
@media (max-width: 1150px){
.form-horizontal#saveFrm .form-group:first-child .base_record div.col-sm-8{
width: 100%;
}
}
@media (max-width: 1020px){
.text-center.col-sm-3{
    width: 100%;
    margin: 0 auto;
    float: none;
    clear: both;
    text-align: center;
    padding-top: 15px;
}

}

@media (max-width: 852px){
#data_5 {
    margin-bottom: 15px;
}
.text-center.col-sm-3{
	    clear: both;
    padding-top: 15px;
}
}
@media (max-width: 768px){
.ibox-content >form{
    text-align: center;
    
}
div.ibox-title{
	padding: 14px 15px 7px;
}
.panopto_btn .text-center button{
	margin: 0;
}
}

@media (max-width: 767px){
.form-group .dropdown_number > div.input-group{
	    width: 43%;
	}

	.form-horizontal .form-group.panopto_btn .text-center{

	 margin: 0 !important;
    width: 100%;
	}
}
@media (max-width: 543px){
.form-horizontal > div:nth-child(1) > div.time_btn_group >span {
    padding-left: 5px;
    width: 15%;
}
.form-horizontal > div:nth-child(1) div.time_btn_group div.input-daterange{
	margin-left: 0;
}
.form-group .dropdown_number > div.input-group{
	  width: 85%;
}
.form-horizontal > div:nth-child(3).input-daterange span.input-group-addon{
    width: 15%;
    text-align: center;
    padding-left: 5px !important;
    padding-right: 12px !important;	
}
.form-horizontal#saveFrm .form-group:first-child div.col-sm-8{
	width: 100%;
}
}
@media (max-width: 414px){
.text-center {
    margin-bottom: 10px !important;
}

	.form-horizontal .form-group.panopto_btn .text-center{

	 margin-bottom: 15px !important;
	}
}
@media (max-width: 350px){
.form-horizontal > div:nth-child(1).form-group > div.time_btn_group{
     padding: 0 3%;
}
}