@charset "utf-8";
.ibox-content >p{
    clear: both;
    text-align: center;
}
.ibox-content >img{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}


.ibox-content .form-group label{
text-align: right;

padding-top: 7px;
}
.ibox-content .form-group input:focus{
	border-color: #01B1EC !important;
}
.ibox-content .form-group >div:last-child a{
width: 93px;

display: block;
border-color: #333 !important;
color: #fff;
background-color: #333 !important;
}

.ibox-content .form-group .col-sm-6 input{
border-radius: 3px;
}

/* 반응형 */
@media (max-width: 962px){
	.ibox-content > p{
		text-align: left;
		padding: 0 15px;
	}
}
@media (max-width: 768px){
	.ibox-content .form-group label{
		width: 33.33333333%;
		float: left;
	}
	.ibox-content .form-group >div{
		width: 33.33333333%;
		float: left;
	}
	.ibox-content > p{
		text-align: center;
	}
}
@media (max-width: 677px){
	.ibox-content .form-group{
		text-align: center;
	}

	.ibox-content .form-group label {
    width: 80%;
    text-align: left;
    float: none;
    margin: 0 auto;
    display: block;
     padding-bottom: 7px;
 	}
	.ibox-content > p{
		display: none;
	}


	.ibox-content .form-group >div{
		width: 80%;
		margin: 0 auto;
		float: none;
	}
	.ibox-content .form-group > div:nth-child(3){
		width: auto;
		display: inline-block;
		margin-top: 15px;
	}
}