@charset "utf-8";
.bottom{
	max-width: 1280px;
margin: 0 auto;
	margin-top: -5px;
}
.baro{
	right: 20%;
}
.owl-carousel .banner1{
	background: url("../img/banner1.png");
	background-position-x: 50%;
}
.owl-carousel .banner2{
	background: url("../img/banner2.png");
	background-position-x: 50%;
}
.owl-carousel .banner3{
	background: url("../img/banner3.png");
	background-position-x: 50%;
}