@charset "utf-8";

.container h2{
	padding: 15px;

	border-bottom: 1px solid #e5e5e5;

	margin: 0;

	    margin-bottom: 0px;

	text-align: left;

	margin-bottom: 15px;

	font-size: 19px;

	font-weight: 500;

	color: #555;
}
.form_bottom{
	border-top: 1px solid #e5e5e5;
	padding: 15px;
}
.form_bottom button{
	background-color: #01b1ec;
	border-color: #01b1ec;
}
.form_bottom button:hover,.form_bottom button:focus{

    background-color: #0384AF !important;
    border-color: #0384AF !important;

}
.loginscreen.middle-box{
	max-width: 550px;
}

@media (max-width: 767px){
	.form-horizontal .control-label{
		width: 25%;
		float: left;
		text-align: right;
		padding-top: 7px;
	}
	.form-horizontal .col-sm-7{
		width: 58.33333333%;
		float: left;
	}
}

@media (max-width: 580px){
	.loginscreen.middle-box {
    max-width: 350px;
}
	.form-horizontal .control-label{
		width: 100%;
		float: none;
		text-align: center;
		padding-top: 0;

	}
	.form-horizontal .col-sm-7{
		width: 100%;
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}
	.logo_img_div{
		display: none;
	}
	.container h2{
		text-align: center;
	}
	.hr-line-dashed{
		display: none;
	}
}