@charset "utf-8";

.container h2{
text-align: center;

font-size: 25px;

font-weight: lighter;
}
.media{
	display: none;
}
.container h2 span{
	font-size: 30px;
color: #01b1ec;

}
.form_bottom{
	margin-top: 15px;
}
.container p{
	font-size: 15px;
}

.container p span{
	font-weight: bold;
    font-size: 17px;
    color: #0a385b;
}

@media (max-width: 580px){
	.logo_img_div{
		display: block;
	}
	h2{
		display: none;
	}
	.media{
		display: block;
	}
}
@media (max-width: 300px){
	.container p {
    font-size: 14px;
	}
	.container p span {
    font-weight: bold;
    font-size: 16px;
    color: #0a385b;
}
}