@charset "utf-8";

.log_con ul{
	margin: 0;
	font-size: 15px;
	list-style: disc;

padding-left: 30px;
}

.log_con ul li{
	line-height: 1.4;
}

@media (max-width: 580px){
	.log_con ul{
		padding-left: 0px;
		list-style: none;
	}
	.log_con ul li{
		text-align: left;
		font-size: 13px;
	}
	.logo_img_div {
    display: block;
}
}
@media (max-width: 343px){
	.log_con ul {

    list-style: none;
}
	.log_con ul li{
		margin-top: 5px;
	}
}