@charset "utf-8";
*{
	outline: 0 !important;
}
.nav > li{
	background-color: #2f4050;
}


nav.navbar-static-side{
height: 100%;
position: fixed;
}
body.mini-navbar .nav-header{
	background-color: #e10057;
}

#page-wrapper{
	padding: 0;
}
ul.side_etc_menu{

	width: 70%;
	margin: 0 auto;
	position: absolute;
	bottom: 5%;
	transform: translateX(-50%);
	left: 50%;
	display: none;
}
ul.side_etc_menu li{

	float: left;
	width: 33.3%;
	text-align: center;
}
ul.side_etc_menu li a{
	
	display: block;
	color: #a7b1c2;
}



body.mini-navbar ul.side_etc_menu{

}
body.mini-navbar ul.side_etc_menu li{

	width: 100%;
	margin-bottom: 10%;
}
body.mini-navbar ul.side_etc_menu li a{

}
#page-wrapper nav >a >img{
	float: left;
height: 50px;
}
#page-wrapper nav >a{
	display: inline-block;
	margin-left: 2%;
	color: #777;
	margin: 0;
	width: 100%;
}
#page-wrapper nav >a:hover{
	color: #555
}
#page-wrapper nav h1{
	display: inline-block;
	margin: 0;
	padding-top: 10px;

	float: left;
	padding-left: 1%;
	float: left;
}
#page-wrapper nav p{
	display: inline-block;
	font-size: 16px;
	padding-left: 1%;
	margin-top: 18px;
	/*! float: left; */
}

.navbar-header{
	position: absolute;
	z-index: 1;
}
.navbar-minimalize{
	margin: 0;
border-radius: 0px 3px 3px 0px;
background-color: #233646;
border-color: #233646;
	padding: 2.5px 12px;
}

.nav-header .dropdown-menu > li > a{
	margin: 0;
}

.nav-header .dropdown-menu .divider{
	margin: 0;
}

.dropdown-menu li a i{
	
	padding-right: 15px;
	line-height: 25px;
}
div.ibox-title{
	padding-left: 67px;
	font-size: 15px;
}

#timeArea{
	float: right;
	margin-right: 5%;
	background-color: #2f4050;
	color: white;
	border-radius: 0px 0px 10px 10px;
	line-height: 2.5;
	text-align: center;
	width: 190px;
	border-top: 3px solid #19aa8d;
}

div#page-wrapper{
	border-top: 15px solid #2f4050;
}

ul.side_etc_menu li a:hover{
 color: #ededed;
}

.nav-second-level li:last-child{
	margin-bottom: 0;
}


/* 모달 */
.logout_btn{
	
	padding: 0;
	background: none;
	border: none !important;
	color: #e0e0e0;
}

#myModal .modal-dialog{
	width:	450px;
}
.modal-footer button.btn-primary{
background-color: #333;
border-color: #333;
}
.modal-footer {

	padding: 10px;
}
/* color 수정 1안 */

/*
body{
	background-color: #232323;
}

.nav-header{

	background: #02bcf9;
}
.nav > li.active{
	border-left: 4px solid #02bcf9;
}

.font-bold{
	color:#fff;
}
.nav-header .text-muted{
	color: #dfe4cf;
}

div#page-wrapper {

    border-top: 15px solid #0384AF;

}

#timeArea{
background-color: #232323;
border-top: 3px solid #02bcf9;
}

.navbar-header .navbar-minimalize{
	background-color: #037297;
border-color: #037297;
}

*/

/* color 수정 2안 */

.nav-header{
	background: #01B1EC !important;
}

.nav > li.active{
	border-left: 4px solid #01b1ec;
}
.navbar-minimalize{
	background-color: #b01551;
border-color: #b01551;
	position: fixed;
}

div#page-wrapper {

    border-top: 15px solid #0384AF;
min-height: unset;
height: 100%;
}
#timeArea{
	border-top: 3px solid #01b1ec;
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
	background: none;
	font-size: 14px;
}
.font-bold{
	color:#fff;
}
.nav-header .text-muted{
	color: #dfe4cf;
}
body.mini-navbar .logo-element{
	background-color: #e10057;
}

div.wrapper >div.col-lg-12{
	max-width: 1600px;
float: none;
margin: 0 auto;

}






/* 수정 */
/* nav */
.pace-done .nav-header{
	padding-left: 20%;
}
.nav > li > a{
	padding-left: 20%;
	font-size: 14px;
}
.font-bold{
	display: block;
	font-size: 15px;
}

nav.navbar-static-side{
	width: 285px;
	background-color: #2f4050;

}

.navbar-header{
	bottom: 27px;
right: 39px;
}

.nav-header a{
	border-radius: 3px 0px 0px 0px;
	padding: 0;
	width: 39px;
	height: 27px;
}
.nav-header a i{
	vertical-align: middle;
}
body.mini-navbar .nav-header >div.navbar-header{
	display: none;
}
body.mini-navbar .logo-element{
	width: 70px;

height: 62px;

top: 0;

left: 0;
	background-color: #01b1ec !important;
	border-color: #01b1ec !important;
	padding: 0;
	text-align: center;
}

body.mini-navbar .logo-element a{

background-color: #01b1ec !important;

border-color: #01b1ec !important;

border-radius: 0;
position: static;
display: block;
width: 100%;
height: 100%;
}


body.mini-navbar #timeArea{
display: none;

}

body.mini-navbar .nav > li{
	text-align: center;

}
body.mini-navbar .nav > li a{
	padding-right: 20%;
}

body.mini-navbar .logo-element a {
	padding: 0 !important;
}
body.mini-navbar .logo-element a i{
    display: block;
    font-size: 40px;
    margin-top: 10px;
}
.navbar-minimalize{
	background-color: #0384AF !important; 
	border-color: #0384AF !important; 
}
/* 컨텐츠 */
.border-bottom{
	max-width: 1600px;

margin: 0 auto;
}

.navbar-static-top{
	width: 500px !important;

margin-left: 40px;
}

#page-wrapper{
	margin-left: 285px;
}
.wrapper-content{
	padding: 20px 3%;
}
.ibox-content{
	padding: 15px 2%;
}


.minibody_btn{
	display: none;
}


/* transfer_modal */

#transfer_modal h4{
	line-height: 0;
    font-size: 16px;
}

#transfer_modal i{
	margin-right: 5px;
    font-size: 18px;
}

#transfer_modal .modal-body p{
	margin: 0;
}
#transfer_modal .modal-footer{
	    text-align: center;
}
/* exit_modal */

#exit_modal h4{
	line-height: 0;
    font-size: 16px;
}

#exit_modal i{
	margin-right: 5px;
    font-size: 18px;
}

#exit_modal .modal-body p{
	margin: 0;
}
#exit_modal .modal-body p:first-child{
	    margin-bottom: 8px;
}
#exit_modal .modal-footer{
	    text-align: center;
}
/* 반응형 */

/* @media (max-width: 1200px){
	.welcome-message{
		display:none;
	}
	.navbar-static-top{
		text-align: center;
	}
	#page-wrapper nav > a{
	display: block;
text-align: left;
width: 271px;
}
#page-wrapper nav h1{
	float: none;
}
#page-wrapper nav p{
	display: block;
clear: both;
float: none;
margin-left: 50px;
margin-top: 0;
}
#timeArea{
	position: absolute;
	top: 0;
	right: 0;
}
}
*/
@media (max-width: 1000px){
	#page-wrapper nav > p{
		display: none;
	}

}
@media (max-width: 852px){
	#page-wrapper nav p{
		display: none;
	}
}
@media (max-width: 768px){
	div#timeArea{
		display: none;
	}
#page-wrapper nav > a{
	margin:0 auto;
}

.minibody_btn{
	display: inline-block;
	position: fixed;
	top: 67px;
	left: 0;
	width: 40px;
	height: 28px;
}
.nav{
	position: fixed;
}
#page-wrapper{
		margin:0;
	}
}
@media (max-width: 600px){
	.navbar-top-links li a{
		padding: 10px 10px;
	}
}

@media (max-width: 558px) {
#transfer_modal .modal-body p br{
	margin-bottom: 5px;
}
}