@charset "utf-8";
.loginscreen.middle-box{
	max-width: 300px;

padding-top: 2%;

height: 100vh;
	width: auto;
}
.logo_img_div{
	padding-bottom: 20px;
}

.login_card{
	background-color: #fcfcfc;

border-radius: 5px;

box-shadow: 5px 5px 15px -4px #999;
}

.middle-box h2{
	font-size: 24px;
		font-weight: 400;

}

form{
	margin: 0;
}
form div.form-group:nth-child(1) p{
	float: left;
	margin-top: 10px;
}
form div.form-group:nth-child(1) p:nth-child(1){
	margin-top: 0;
}
.log_con{
	width: auto;
}

.m-t >button{
	background-color: #01B1EC !important;
border-color: #01B1EC !important;

}

.m-t >button:hover{
	background-color: #0384AF !important;
border-color: #0384AF !important;
}

.form-control:focus, .single-line:focus{
	border-color: #01B1EC !important;
}



.login_card p:nth-child(3) a{
	color: #01b1ec;
}

.login_card p:nth-child(3) a:hover{
	color: #0384AF;
}

.login_card div:nth-child(4) >div{
	margin: 0;
}
input[type="checkbox"]{
	display: inline-block;
}

.stay{

	width: 50%;

float: left;

text-align: left;
}
.stay .checkbox{
	margin: 0;
	padding-left: 5px;
}
.login_btn{

margin: 0;
}
.hr-line-dashed{

float: none;

margin: 13px 0;
}
.m-t > button.facebook_btn{
background-color: #4267B2 !important;
border-color: #4267B2 !important;
}
.m-t > button.facebook_btn:hover{
background-color: #2E487B !important;
border-color: #2E487B !important;
}

.m-t > button.facebook_btn i{
	    float: left;
    font-size: 20px;
    border-right: 1px solid #eee;
    padding-right: 12px;
}
.join a{
	width: 100%;
	display: block;
}