@charset "utf-8";
*{
	outline: none !important;
}
body{
	background-color: #fff;
}
#header{
	background: #f5f5f5;
	border-bottom: 1px solid #ccc; 
}
#header h1{
float: left;
margin: 10px 0;
}
#header small{
	font-size: 13px;

font-weight: 400;

padding-left: 10px;

border-left: 1.5px solid #aaa;

margin-left: 10px;
}
#header div.col-lg-6{
	margin: 21.5px 0px;
width: 350px;

margin-left: 20px;
	float: left;
}
#header .log_in button{
	float: right;

margin: 21px 0;

background-color: #0BB5FF;

border-color: #0BB5FF;
}
#header .log_in button:hover{
	background-color: #06A0FF;
	border-color: #06A0FF;
}
#header .input-group input:focus{
	border-color: #ddd !important;
}
#thumbnailListContainer h2{
	margin-left: 5px;

margin-bottom: 12px;

font-size: 21px;

color: #464646;

font-weight: normal;
}
#thumbnailListContainer .items li{
	padding: 0.1%;
}
#thumbnailListContainer .items li .thumbnail{
border: none;
margin: 0px;
}
#thumbnailListContainer .items li .thumbnail .caption {
	padding: 0;
}
#thumbnailListContainer .items li .thumbnail .caption h3{
	font-weight: 400;

line-height: 1.3;

color: #0099CC;
	margin-bottom: 0;
	margin-top: 10px;
}
#thumbnailListContainer .items li .thumbnail .caption p{
	color: #777;
	font-size: 13px;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;
}
#thumbnailListContainer .items li .thumbnail .caption p i{
	    padding-right: 2px;
}
#signInPrompt{

	clear: both;
	padding-top: 15px;
}
#signInPrompt #icon{
	font-size: 48px;
color: #777777;
float: left;
	margin-right: 8px;
}
#signIn {
	padding-top: 10px;
}
#signIn a:hover{
		text-decoration: underline;
}
#signIn  p:first-child{
	line-height: 2;

color: #333;

margin: 0;
}

/* 로그인 팝오버 */
.popover{
	width: 300px;
}
.popover .popover-title{
	font-size: 16px;

font-weight: bold;
}
.popover .form-group p{
	font-size: 13px;

font-weight: bold;

margin: 10px 0 5px;
}
.popover .form-group input{
	border-color: #e5e6e7 !important;
}
.popover .form-group button{
	margin-top: 15px;
	background-color: #0BB5FF;

border-color: #0BB5FF;
}
.popover .form-group button:hover{
		background-color: #06A0FF;
	border-color: #06A0FF;
}
.popover .hr-line-dashed{
margin: 15px;
}
.popover .form-group button.kakao_login{
	background-color: #F7D500;
	border-color: #F7D500;
	color: #333;
}
.popover .form-group button.kakao_login:hover{
	background-color: #D4B911;
	border-color: #D4B911;
	color: #333;
}
.popover .form-group .join {
	text-align: center;
}
.popover .form-group .join a{
	font-weight: 400;
    color: #999;

}
.popover .form-group .join a:hover{
	color: #777;

}

.popover-content{
	padding: 0px 14px;
}
@media (max-width:1199px){

	#thumbnailListContainer .items li .thumbnail .caption h3{
		font-size: 13px;
	}
}
@media (max-width:991px){
	#thumbnailListContainer .items li .thumbnail .caption h3 {
    font-size: 16px;
}
}
@media (max-width:697px){

#header h1{
	float: none;

text-align: center;
}	
#header >div{
	position: relative;
}
#header div.col-lg-6{
	margin: 0 auto;

float: none;

padding-bottom: 10px;
}
#header  .log_in{
	float: right;

position: absolute;

right: 5%;

bottom: 0px;

padding-bottom: 10px;
}
#header  .log_in button{
	margin: 0;
}
}
@media (max-width:550px){
#header div.col-lg-6{
	margin: 0;
}
}
@media (max-width:445px){
	#header .log_in{
		bottom: -60px;
	}
	#header div.col-lg-6{
		margin: 0 auto;
	}	
}
@media (max-width:362px){
#thumbnailListContainer .items li .thumbnail .caption h3 {

    font-size: 14px;

}
#header div.col-lg-6{
	width: auto;
}
}
