@charset "utf-8";

*{
	outline: none !important;
}
/* 헤더 */
header{
	/*! position: relative; */
/*! height: 550px; */
	position: fixed;
	width: 100%;
	z-index: 11111;
	background-color: #fff;
	box-shadow: 0 1px 7px rgba(0,0,0,.6);
	top: 0;
}
header >div{

	margin: 0 auto;
	display: table;
height: 65px;
}

header >div >div{
display: table-cell;

vertical-align: middle;

text-align: right;	

}
.parallax_banner{
	height: 550px; 
position: relative;
	margin-top: 65px;
}

h1 img{
	max-height: 48px;
margin-top: -7px;
padding-right: 5px;
}
header h1{
	color: #fff;

font-weight: bold;

font-size: 42px;

text-shadow: 0 1px 2px rgba(0,0,0,.6);
	display: inline-block;
	margin: 0;
	display: table-cell;
	vertical-align: middle;
}
header h1 a{
	text-decoration: none !important;
	color: #23527c;
}
header h1 a:hover{
	color: #0A385B;
}
header .carousel-caption{
	bottom: 50px;
	left: 5%;
	right: 5%;
}
header .carousel-caption h2{
	font-size: 33px;
}
header .carousel-caption p{
	margin-bottom: 30px;
}
header .carousel-caption .btn-primary:focus {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

header .carousel-caption .btn-primary:hover{
color: #fff;
background-color: #286090;
border-color: #204d74;
}
/* 메인버튼 */
#main{

	background-color: #333;
}
#main ul{
	max-width: 1000px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0 auto;
}
#main ul li{
	

	width: 100%;
	border: none;
	color: #ddd;
	font-size: 50px;
	text-align: center;
}
/* #main ul{

	max-width: 1000px;
	padding-top: 50px;
	padding-bottom: 50px;
	margin: 0 auto;
}
#main ul li{

	width: 45%;
	float: left;
	text-align: center;
	border: 3px solid #fff;
		transition: all 1s;
	border-radius: 10px;
}

#main ul li:hover{
	box-shadow: 0 1px 7px rgba(200,200,200,.6);
	text-shadow: 0 1px 5px rgba(0,0,0,.6);
  background-color: #222;
} */
#main ul li a{

	text-decoration: none;

	color: #ffff;
	display: block;
	padding: 20px 0px;
}
#main ul li a h2{

	font-size: 28px;
	margin-top: 10px;
}
#main ul li a p{

}
#main ul li.io{

	width: 10%;
	font-size: 30px;
	background: none;
	border: 0;
	box-shadow: none;
	color: #aaa;
	line-height: 125px;
}

/* 컨텐츠 랩 */
#con_wrap{

}
/* 서비스 플랫폼 제공기능 */
.service{

	background-color: #eee;
}
.service .container{
	
	padding-top: 50px;
	padding-bottom: 50px;
}
.service h2{

	text-align: center;
	color: #444;
	font-weight: bold;
	font-size: 36px;
	padding-bottom: 20px;
	margin-top: 45px;
}
.service img{

	max-width: 1130px;
	margin: 0 auto;
	display: block;
	margin-top: 35px;
	margin-bottom: 40px;
}
.service p{

	text-align: center;
	color: #666;
	font-size: 15px;
	padding-bottom: 20px;
}

/* 비디오 */
.video{

	padding-top: 30px;
	margin-top: 35px;
}
.video h3{

	margin: 0;
	line-height: 30px;
	font-size: 30px;
	font-weight: bold;
	color: #555;
}
.video p{

	margin-top: 12px;
	color: #888;
}
.video img{
	
	max-width: 550px;
}
.video .live{

}
.video .live div{

	float: right;
	padding-top: 130px;
	width: 50%;
	text-align: center;
}
.video .live img{

	float: left;
}
.video .meeting{

	clear: both;
	padding-top: 30px;
}
.video .meeting div{

	float: left;
	width: 50%;
	padding-top: 145px;
	text-align: center;
}
.video .meeting img{

	float: right;
}


/* 사용자 기능 */
.move{
margin-top: 80px;
}
.move h2{
text-align: center;

font-weight: bold;

font-size: 34px;

margin-bottom: 30px;
}
.move img{
float: left;
width: 67.3%;
}
.move ul{

	padding-top: 20px;
	float: right;
	width: 32.7%;
}
.move ul li{

}
.move ul li h3{

	font-weight: 500;
	color: #555;
}
.move ul li p{

	margin-bottom: 35px;
	color: #666;
	padding-left: 15px;
}


/* feat */
.feat{

	background-color: #eee;
	margin-top: 80px;
}

.feat ul{

	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom: 0;
}
.feat ul li{

	background-color: #fff;
	width: 30%;
	float: left;
	margin-right: 4%;
	text-align: center;
	padding: 26px;
	box-shadow: 0 1px 7px rgba(100,200,200,.3);
}
.feat ul li:last-child{
	
	margin: 0;
}
.feat ul li img{

}
.feat ul li h4{

	font-size: 22px;
	color: #777;
}
.feat ul li p{
	
	color: #999;
}

/* footer */
footer{
	background-color: #333;
height: 100px;
position: relative;
}

footer h1{
	float: left;
line-height: 70px;
}
footer h1 a{
	text-decoration: none !important;
	color: #ddd;
	border-right: 2px solid #ddd;
	padding-right: 70px;
}
footer h1 a:hover{
	color: #ccc;
}
footer p{
	color: darkgray;
position: absolute;
transform: translate(-50%);
left: 50%;
top: 45%;
margin: 0;
}


/* 반응형 */
@media (max-width: 1199px){
	.service img{
		max-width: 100%;
	}
	.video .live{
		text-align: center;
		margin-bottom: 50px;
	}
	.video .live img{
		float: none;
	}
	.video .live div{
		padding-top: 50px;
		float: none;
		width: 100%;
	}
	.video .meeting{
		text-align: center;
	}
	.video .meeting img{
		float: none;
	}
	.video .meeting div{
		padding-top: 50px;
		width: 100%;
	}	
	.move ul{
		padding-top: 0;
	}

	.feat ul li:first-child p{
		margin-bottom: 30px;
	}
	.feat ul li p{
		text-align: left;
	}
}
@media (max-width: 991px){
	.service p{
		text-align: left;
	}
	.service p br{
		display: none;
	}
	.move img{
		width: 100%;
		float: none;
	}
	.move ul{
		width: 100%;
		float: none;
	}
	.move ul li p{
		margin-bottom: 20px;
	}

	.feat ul li{
		box-shadow: 0 1px 7px rgba(100,200,200,.5);
		width: 100%;
		text-align: left;
	}
	.feat ul li img {

    float: left;
    max-width: 120px;
    margin-right: 30px;

	}
	footer h1 a{
		border: none;
	}
}
@media (max-width: 767px){
	header .logo {
	width: 100%;	
	
	}
	#main ul li a h2 {

    font-size: 22px;

}
	#main ul li a p{
		font-size: 13px;
	}
.service h2{
	padding: 0;

font-size: 33px;
}
.video img {
    width: 400px;

}
.video h3{
	font-size: 28px;
}
.move {

    margin-top: 65px;

}
.move h2{
	font-size: 30px;
}
.move img {
    width: 80%;
    margin: 0 auto;
    display: block;

}
.move ul{
	width: 80%;

margin: 0 auto;
}
.feat ul{
	width: 80%;
}
}
@media (max-width: 692px){
	#main ul li a{
		padding: 13px;
		padding-bottom: 5px;
		padding-top: 5px;
	}
	#main ul li.io {

    line-height: 109px;

	}
	#main ul li a h2{
		margin-bottom: 5px;
	}
	.parallax_banner .carousel-caption{
		right: 10%;
		left: 10%;
	}
	.parallax_banner .carousel-caption h2{
		font-size: 27px;
	}
	#main ul li.io{
		line-height: 107px;
	}
	#main ul li a p span{
		display: block;
	}
	footer{
height: 110px;
}
footer h1{
	text-align: center;

float: none;

line-height: 1;
}
footer h1 a{
	padding: 0;
}
footer p{
	position: static;

text-align: center;

margin: 0 auto;

transform: translate(0);
}
.parallax_banner .carousel-caption h2 span	{
display: block;
font-weight: bold;
line-height: 1.4;
font-size: 31px;}
}
@media (max-width: 580px){

.feat ul li{
	padding: 15px;
}

.feat ul li img{
	margin-right: 10px;
}
}
@media (max-width: 509px){
	.parallax_banner .carousel-caption h2 span{
	display: block;

font-weight: bold;

font-size: 28px;

line-height: 1.4;
	}
	.parallax_banner .carousel-caption {

    right: 5%;
    left: 5%;

}
.move img{
	width: 100%;
}
.feat ul{
	width:95%;
}
}
@media (max-width: 458px){
	#main ul li{
		width: 90%;
		margin: 0 auto;
		float: none;
		border-radius: 10px;
	}
	#main ul li.io{

		width: 100%;
		line-height: 2;
	}
	.video img{
		width: 100%;
	}
}
@media (max-width: 437px){
	.parallax_banner .carousel-caption {

    right: 10%;
    left: 10%;

}
.parallax_banner .carousel-caption p{
	text-align: left;
}
.parallax_banner .carousel-caption .btn{
width: 185px;
}

.parallax_banner .carousel-caption .btn-default{
	border-radius: 4px 4px 0px 0px;
}
.parallax_banner .carousel-caption .btn-primary{
	border-radius: 0px 0px 4px 4px;
}
}

@media (max-width: 404px){
	.feat ul{
		width: 80%;
	}
	.feat ul li {

    text-align: center;
    padding: 20px;
    margin-bottom: 15px;

}
.feat ul li img{
	float: none;
}
.feat ul li:first-child p{
	margin-bottom: 10px;
}
#main ul li a p {
    font-size: 12px;
}
#main ul li a h2{
	margin-bottom: 5px;
margin-top: 10px;
}
.service h2{
	font-size: 24px;
}
.video h3 {
    font-size: 24px;
}
.move h2 {
    font-size: 24px;
}
h3{
	font-size: 21px;
}
.move ul{
	width: 95%;
}
.parallax_banner .carousel-caption h2 {

    font-size: 23px;

}
#main ul li a h2 {
    font-size: 23px;
}
.parallax_banner .carousel-caption h2 span{
	font-size: 24px;
}
}
@media (max-width: 343px){

	#main ul li a p span{
display: block;
	}
	.parallax_banner .carousel-caption {
    right: 5%;
    left: 5%;
}
.video p{
	text-align: left;
}
.video p br{
	display: none;
}
.feat ul {

    width: 90%;

}
.parallax_banner .carousel-caption p {
    font-size: 13px;
}
.service h2 {
    font-size: 28px;
    line-height: 1.3;
}
.service h2 span{
	display: block;
	font-size: 25px;
}
}
@media (max-width: 290px){
	header .logo{
		padding:0;
	}
}
@media (max-height: 500px){
.parallax_banner{
	height: 100vh;
}
}
@media (max-height: 330px){
	.parallax_banner .carousel-caption {
    bottom: 15px;
}
}