@charset "utf-8";
h6{
	font-size: 14px;

font-weight: bold;


margin: 0 auto;

margin-bottom: 1%;
	display: inline-block;
	margin-left: 8%;
	border-bottom: 3px solid #01B1EC;
	padding-bottom: 5px;
	text-align: center;
	min-width: 60px;
}
.dropdown{
	display: inline-block;
}
input[type="radio"] {
    display: inline-block;
}

.panopto_session .dropdown{
	display: block;
}
.panopto_session #pold{
	width: 100%;
margin: 0;
text-align: left;

background: none;

height: 34px;

font-size: 12px;

border-radius: 3px;

font-weight: normal;

color: inherit;

padding: 3px 20px;
border-color: #e5e6e7;
border-radius: 0;
}


.panopto_session #pold span{
	position: absolute;

top: 16px;

right: 2%;
}
.panopto_session .dropdown-menu{
	width: 100%;
}
.panopto_session .share p{
line-height: 34px;
margin: 0;
}
.panopto_session .share .use_yes{
	float: left;

margin-right: 2%;
}
.form-horizontal .form-group{
	margin-right: -15px;
margin-left: -15px;
width: 100%;
}
.panopto_source .input-group{
	padding-right: 15px;
padding-left: 15px;
}
.panopto_source .help_record p{
text-align: center;
margin-bottom: 0;
margin-top: 5px;
color: #888;
padding-left: 5%;
padding-right: 5%;
}
/* 예약 */
.panopto_reserve #data_5{
	padding-left: 15px;
}
.panopto_reserve >div:first-child #datepicker{
	width: 100%;
	padding-right: 15px;
}
.panopto_reserve >div:nth-child(2) span{
	float: left;
line-height: 34px;
}
.panopto_reserve >div:nth-child(2) a{
	margin: 0;
line-height: 34px;
}
input[type="checkbox"] {
    display: inline-block;
}

/* 반복 레코딩 */
.panopto_reserve >div:nth-child(3) .col-sm-5{
	text-align: center;
}
.panopto_reserve >div:nth-child(3) .repeat_end p{
	width: 20%;
float: left;
text-align: center;
margin: 0;
line-height: 34px;
}
.panopto_reserve >div:nth-child(3) #data_5 {
	width: 80%;
display: inline-block;
margin: 0;
}
.text-center {

    text-align: center;

}
.col-sm-5 .radio-inline{
margin: 0;
}
/* 품질 설정 */
#carousel-example-generic, #carousel-example-generic2{

height: 34px;

}
.carousel-inner{
	text-align: center;


}


.carousel-inner .item p{
color: #555;

margin: 0;

line-height: 34px;
border: 1px solid #eee;
height: 34px;
}
.carousel-inner .item span{

color: #888;
}
.carousel-inner .item span br{
	display: none;
}
.left.carousel-control{
	margin-left: 15px;
}
.right.carousel-control{
	margin-right: 15px;
}
.carousel-control{
	background: none !important;
}
.carousel-control span{
	color: #777;
    text-shadow: none;
    font-size: 17px !important;
    line-height: 30px;
}
.control-label{
	clear: both;
}
.quality_set .col-sm-4 p{
display: inline-block;

line-height: 34px;

margin: 0;

margin-right: 5%;
}

.quality_set .col-sm-4 label{
	padding-top: 0;
}
/* 버튼트리 */
.col-sm-8 #dropDownButton{
	width: 100% !important;
height: 34px !important;
line-height: 1.7;
background: #fff;
border-color: #ddd;
color: #666;
}
#dropDownButtonPopupdropDownButton{
	right: 18.4%;
}
.mini-navbar #dropDownButtonPopupdropDownButton{
	right: 23.3%;
}
#paneljqxTreeverticalScrollBar{
	right: 4px !important;

left: auto !important;
}
#paneljqxTree{
	width: 100% !important;
}
#jqxTree{
	width: 100% !important;
	color: #666;
}
.jqx-tree-dropdown-root{
	width: 100% !important;
}
@media (max-width: 1859px){
.panopto_reserve >div:nth-child(3) .col-sm-1{
	width: 83.33333%;
	margin-bottom: 15px;
}
.panopto_reserve > div:nth-child(3) .col-sm-5{
	margin-left: 16.66666667%;
	padding: 0;
	width: 58.333333%;
}
.repeat_end{
	padding: 0;
}
}
@media (max-width: 1437px){
	.panopto_reserve > div:nth-child(3) .repeat_end p{
		width: 100%;
margin-top: -34px;
	}
.panopto_reserve > div:nth-child(3) #data_5{
	width: 100%;
padding: 0;
}
}
@media (max-width: 1400px){
	.text-center{
		float: none;
		margin-bottom: 0 !important;
	}
	.quality_set p.col-sm-1{
		padding: 0;
	}
	.panopto_reserve > div:nth-child(3) .col-sm-5{
	width: 83.333333%;

	text-align: left;

	margin-bottom: 15px;	
	}
	.repeat_end{
	width: 83.333333%;

	margin-left: 16.66666667%;
	}
	.panopto_reserve > div:nth-child(3) .repeat_end p{
		margin: 0;

		width: 20%;
	}
	.panopto_reserve > div:nth-child(3) #data_5{
		width: 25%;

		text-align: center;

		margin: 0 auto;
	}
}
@media (max-width: 1200px){
	.share .col-sm-3{
    width: 33.33333333%;
	}
	.share .col-sm-7{
		    width: 50%;
	}
	h6{
		margin-left: 3.5%;
	}
}

@media (max-width: 1150px){
	.control-label {
    width: 100%;
    text-align: left !important;
    padding-left: 6%;
}
.mini-navbar #dropDownButtonPopupdropDownButton {
    right: 8.6%;
}
#dropDownButtonPopupdropDownButton {
    right: 6.9%;
}
.share .col-sm-7{
	width: 52%;
}
.col-sm-3{
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	float: none;
margin: 0 auto;
	clear: both;
}
.col-sm-8{
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	float: none;
margin: 0 auto;
	clear: both;
}
.share .col-sm-3{
	width: 38%;
	margin: 0;
float: left;
	width: 48%;
	text-align: right;
	padding-right: 5%;
}
.panopto_source .input-group{
	width: 100%;

padding-left: 5%;

padding-right: 5%;
float: none;
margin: 0 auto;

}
.panopto_session #pold{
	position: relative;
}
.panopto_ex span{
	padding: 0;
}
.panopto_ex span textarea{
	width: 90%;
margin: 0 auto;
}
.form-horizontal .form-group{
	margin: 0 auto;
	margin-bottom: 5px;
}
.panopto_reserve #data_5{
	padding-left: 5%;
padding-right: 5%;
	margin: 0;
}
.panopto_reserve > div:first-child #datepicker{
	padding: 0;
}
.panopto_reserve > div:nth-child(2) .col-sm-3{
	width: 49%;
float: left;
	clear: none;
}
.panopto_reserve > div:nth-child(2) span{
	width: 2%;
float: left;
}
.panopto_reserve > div:nth-child(2) >div:last-child{
	width: 100%;
text-align: right;
}
.panopto_reserve > div:nth-child(3) .col-sm-1{
	margin: 0 auto;

float: none;
	clear: both;
}
.panopto_reserve > div:nth-child(3) .repeat_end p{
width: 57%;

text-align: right;

padding-right: 3.5%;	
}
.panopto_reserve > div:nth-child(3) #data_5{
	width: 43%;
}
.panopto_reserve .col-sm-10{
	margin: 0 auto;

float: none;
	clear: both;
	width: 83.33333333% !important;
}
#carousel-example-generic, #carousel-example-generic2{
	width: 100%;

padding-right: 5%;

padding-left: 5%;
margin-bottom: 35px;
	clear: both;
}
.quality_set .col-sm-4{
	margin: 0 auto;

float: none;

width: 100%;

text-align: center;
}
.panopto_reserve > div:nth-child(3) .col-sm-5{
	width: 100%;

text-align: center;

margin: 0 auto;
margin-bottom: 15px;
}
.panopto_source .help_record p{
	text-align: left;
}

}
@media (max-width: 900px){
	.col-sm-5 .radio-inline{
		display: block;
	}	
	.panopto_reserve > div:nth-child(3) .repeat_end p{
		width: 31%;
	}

}
@media (max-width: 852px){
	.form-horizontal .control-label{
		width: 100%;
	}
	.panopto_reserve #data_5{
		width: 100%;
	}

}
@media (max-width: 800px){
.share .col-sm-3{
	width: 100%;

text-align: center;
}
.share .col-sm-7{
	margin: 0 auto;
float: none;
text-align: center;
}
.share label:nth-child(3){
	width: 50%;

text-align: right;

float: left;

padding-right: 20px;
}
.share label:nth-child(4){
	width: 50%;
margin: 0;
}
}
@media (max-width: 768px){
	#dropDownButtonPopupdropDownButton {
    right: 9%;
}
}
@media (max-width: 767px){
	.form-horizontal .share .col-sm-7 label{
		float: none;
		width: auto;
	}
	.navbar-static-top{
		max-width: 287px;

		margin: 0 auto;
	}
	.form-horizontal{
		text-align: center;
	}
	div.ibox-title{
		padding-left: 15px;
	}
	h6{
		margin-left: 0;
	}
.carousel-control span{
	top: 3px !important;
}
.form-horizontal .quality_set .col-sm-4 label{
	float: none;
	width: auto;
	margin-top: 7px;
}
.form-horizontal .form-group .col-sm-5 .radio-inline{
	float: none;
	margin: 0 auto;
}
.form-horizontal .form-group label{
	width: 100%;
}
.form-horizontal .form-group .col-sm-1 label{
	text-align: left;
}
.panopto_reserve .col-sm-10 label{
text-align: left;
}

.form-group div.col-sm-8{
	width: 100%;
	padding-right: 5%;
	padding-left: 5%;
}
.form-horizontal .form-group:nth-child(1) > div:nth-child(2){
	width: 100%;
	padding-right: 5%;
	padding-left: 5%;
}
.form-group span.col-sm-8{
	width: 100%;
	padding-right: 5%;
	padding-left: 5%;
}
.form-horizontal .share label:nth-child(3){
	width: 50%;
	margin: 0;
}
.form-horizontal .share label:nth-child(4){
	width: 50%;
	text-align: left;
}
.panopto_ex span textarea{
	width: 100%;
}
.form-group .base_record .col-sm-8{
padding: 0;
}
.text-center{
	margin-bottom: 30px !important;
}
}
@media (max-width: 414px){
	.carousel-inner .item span br{
		display: inline-block;
	}
	h6{
		margin-top: 15px;
	}
	.panopto_reserve > div:nth-child(3) .repeat_end p {
    width: 40%;
}
.panopto_reserve > div:nth-child(3) #data_5 {
    width: 50%;
}
}



.form-horizontal {
    margin-bottom: 20px;
    text-align: left;
}

@media (max-width:1400px){
.form-horizontal > div:nth-child(1) div, .form-horizontal > div:nth-child(3) > div:nth-child(2){
width: 100%;
}
.form-horizontal > div:nth-child(11) > div:nth-child(2) {
    width: 100%;
}

.form-horizontal > div:nth-child(11) > div:nth-child(3){
display: inline-block;
}

.form-horizontal > div:nth-child(11) > div:nth-child(4){
float: none;
}
}

@media (max-width:1000px){
.share .col-sm-7 {

    width: 100%;
    text-align: center;

}
}

@media (max-width:1000px){
.form-horizontal > div:nth-child(11) > div:nth-child(2) {
    width: 100%;
}
}

{
horizontal > div:nth-child(3) > div:nth-child(2) {

    width: 100%;

}
.panopto_session .share p{
text-align: center;
}

.form-horizontal > div:nth-child(11) > div:nth-child(2){
width: 100%;
}
}



@media (max-width:900px){
.form-horizontal > div:nth-child(11) > div:nth-child(2){
width: 100%;

}
}
@media (max-width:767px){
.form-horizontal > div:nth-child(3) > div:nth-child(2){
width: 100% !important;
}
.form-horizontal > div:nth-child(3) > div:nth-child(3){
margin-left: 0;
padding-left: 0px !important;
}
.form-horizontal > div:nth-child(3) > div:nth-child(3) > div{
width: 100%;
}
.form-horizontal > div:nth-child(11) > div:nth-child(2){
width: 100%;
}

}


@media (max-width:543px){
.form-horizontal > div:nth-child(11) > div:nth-child(2){
padding: 0px;
}
.form-horizontal > div:nth-child(3) > div:nth-child(2){
padding:0px;
}
.form-horizontal > div:nth-child(3) > div:nth-child(3) > div{
width: 100%;
}
.form-horizontal > div:nth-child(3) > div:nth-child(3){
padding-left: 0px !important;
}
}

@media (max-width:414px){
.form-horizontal > div:nth-child(11) > div:nth-child(2) {

    width: 100% !important;

}
.form-horizontal .form-group label{
margin-bottom: 0;
}
.form-horizontal .form-group label {
    margin-top: 0px;
}
}
@media (max-width:350px){

.form-horizontal > div:nth-child(3) > div:nth-child(2){
padding: 0;
}
.form-horizontal > div:nth-child(3) > div:nth-child(3) > div{
padding-left: 0px !important;
}
}
