@charset "utf-8";
.wrapper > div{
height: 100%;
}
body.mini-navbar .navbar-default .nav > li > a{
padding-left: 0;
padding-right: 0;

font-size: 14px;
}
body.mini-navbar .navbar-default .nav > li > a span:first-child{
display: inline-block;

}
.nav-second-level > li > a span{
display: inline-block !important;
}
.nav-header a{
position: absolute;	
}
.mini-navbar .footer{
	
left: 70px;
}
.footer{

	position: fixed;
	left: 285px;
	bottom: 0px;
	z-index: 11;
}

.ibox-content{
	    margin-bottom: 40px;
	    text-align: center;
}
div.pn{
	display: block;
margin: 0 auto;
}
table{
table-layout:fixed;
}
table tr td{
	 /* white-space:nowrap; text-overflow:ellipsis; overflow:hidden; */
}

.filter_btn{
	padding: 0 !important;
}
.filter_btn .dropdown{
	width: 100%;
}
.filter_btn .dropdown button{
	width: 100%;
border-radius: 0;
display: block;

margin: 0;

border: none;

color: #777;

background: none;

box-shadow: none;

padding: 8px;
}
.filter_btn .dropdown-menu{
	width: 100%;
}
.filter_btn .dropdown-menu li a{
	text-align: center;
}

.filter_btn .dropdown button:hover, .filter_btn .dropdown button:focus, .filter_btn .dropdown button:active{
	background-color: #bababa;
    border-color: #bababa;
    color: #FFFFFF;
}
.nav > li > a.home_btn:active, .nav > li > a.home_btn:focus, .nav > li > a.home_btn:hover{
background-color: #162a3e;
}
.nav > li.active{

border:none;
}
.nav.nav-third-level > li.active{
	border-left: 4px solid #01b1ec;
}
.nav-third-level{
	position: unset;
	display: block;
}

.mini-navbar .nav-second-level{
position: fixed;
	top: 62px;
}
body.mini-navbar .nav.nav-third-level li a span{
	display: inline-block;
}

/* 추가 수정 */

.nav-header span.clear{
	
}
.border-bottom{
margin: 20px 0px;
padding-bottom: 20px;
margin-bottom: 10px;
border-bottom: 1px solid #ccc !important;
}
#page-wrapper nav > a{

width: auto;
}
.pace{
display: none;	

}
#page-wrapper nav h1{
padding: 0;
line-height: 66px;
font-size: 35px;
}
 .nav-header{
padding: 10px 25px;
padding-left: 20%;
}

.nav-second-level{
display: block;
}
.nav-first-level{
display: block;
}

.mini-navbar .nav > li.active{
	background-color: #293846;
}
.mini-navbar .nav-first-level{
width: 70px;
}
.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus{
background-color: #293846;
}
.nav-first-level > li > a{
border-bottom: 1px solid #2f4050;

line-height: 15px;
background-color: #293846;
color: #fff;
}

.modal-dialog{
margin: 10% auto;
}
.nav.nav-second-level > li.active{
border-left: 4px solid #01b1ec;
}

.nav-first-level >li:nth-child(1).active{
border-left: 4px solid #01b1ec;
transition: none;
}
/*
body >div:nth-child(2){
	height: 100%;
}
*/
table tbody tr.filter td:nth-child(3){
text-align: left;
}
@media (max-width: 1435px){
	.footer{bottom: 17px;
	}	
}
@media (max-height: 810px){

nav.navbar-static-side{
overflow-y: auto;

}

#timeArea{
	display: none;
}
}
div#page-wrapper{
height: 100%;
}
@media (max-width: 768px){
.footer {
    left: 0;
}
}
@media (max-width: 767px){
.navbar-static-top{
display: inline-block;
margin-left: 25px;
}
}
@media (max-height: 710px){
.mini-navbar .nav-second-level.menu_height
{
height: calc(100vh - 62px) !important;
overflow-y: auto;
}

.mini-navbar  .nav.nav-second-level.menu_height.collapse[style]{
	height: calc(100vh - 62px) !important;
overflow-y: auto;
}}

body > div:nth-child(2) {
    height: auto;
}

.mini-navbar .on_menu{
	display: block !important;
	padding: 10px;
}

body.mini-navbar .navbar-default .on_menu >li a{
	padding: 10px  18px;
}

body:not(.fixed-sidebar):not(.canvas-menu).mini-navbar .nav li:hover > .nav-second-level, .mini-navbar .nav li:focus > .nav-second-level {
    display: none;
    border-radius: 0 2px 2px 0;
    min-width: 140px;
    height: auto;
}