@charset "utf-8";
body{
			height: 100vh;
			width: 100%;
			overflow: hidden;
			position: relative;
		}
		.wrap{
			width: 100%;
			float:left;
			position:absolute;
			z-index: 1111;
			height: 100%;
		}


		.bottom{
			max-width: 800px;
		margin: 0 auto;
			right: 10%;
		left: 10%;
		bottom: 80px;
		position: absolute;
		}

		
		.resize_banner{
		top: 0;
		bottom: auto;
			height: 0;
		}
		.resize_banner #ad{
		}
		.baro{
			right: 5%;
		}

.owl-stage .item{
	height: auto !important;
}
.owl-carousel .owl-item{
	height: auto !important;
}
.owl-carousel .owl-item img{
	max-width: 100%;
}
.owl-carousel .owl-stage{
	height: auto !important;
}

@media (max-width: 900px){
.close{
top: 0;
bottom: 0;
}
@media (max-width: 800px){
.bottom{
right: 0;
left: 0;
top: 0;
}
#banner_carousel1{
width: 80%;
margin: 0 auto;
margin-top: 20px;
}

}
@media (max-width: 500px){
.resize_banner{
}

.close{
top: 0;

bottom: 0;

width: 10%;

font-size: 9vw;
	
}
}
@media (max-width: 350px){
	.resize_banner{
	}


}

@media (orientation:landscape){
   .bottom{

   	top: auto;
   }
}