@charset "utf-8";

/* 서치 */
.left_form{
	width:	70%;
	display: inline-block;
}

.text-center{
	float: right;
}
.form-horizontal .text-center button{
	width: 85px;


font-size: 16px;

font-weight: bold;
background-color: #01b1ec;

border-color: #01b1ec;
}

.form-horizontal .text-center button:hover{
	background-color: #0384af;

border-color: #0384af;
}

.left_form .form-group > div{
	padding-left: 20px;
}

input.form-control:focus{
	border: 1px solid #01B1EC !important;
}

.left_form .form-group:nth-child(2){
	margin-bottom: 0;
}

/* 페이지네이션 */
div.pn{
	text-align: center;
}
div.pn ul li.active a{
	color: #0384af;
}



/* 수정 */
.left_form{
	margin: 0 auto;
width: 92%;
display: block;
}
.left_form .form-group > div{
	padding-right: 	0;
}
#datepicker input{
		height: 34px;
}
.left_form .form-group:nth-child(1) > div:nth-child(2){
	width: 38%;
padding-right: 12px;
padding-left: 19px;
}
#data_5{
	width: 39%;
padding-right: 10px;
}
#datepicker{
	width: 100%;

}

.table-bordered{
 	max-width: 95%;
 	margin: 0 auto;
 }
.form-horizontal .from-group:nth-child(1) .control-label:nth-child(2){
	width: 18.5%;
}

.text-center{
	text-align: right;
}

.form-group div.col-sm-2{
	padding-left: 20px;
width: 20%;
padding-right: 1px;
}

.form-group label.col-sm-2{
	width: 16%;
}


.footer{
	min-width: 1120px;
}

/* 반응형 */
/* @media (max-width: 1200px){



 tbody tr td:nth-child(1),tbody tr td:nth-child(2),tbody tr td:nth-child(3),tbody tr td:nth-child(4){
	text-align: center;
	vertical-align: middle;
 }
 tbody tr td:nth-last-child(1) button{
 	margin: 0 auto;
display: block;
 }
 .left_form{
 	width: 100%;
 }
 .form-horizontal div.text-center{
 	float: none;
margin: 0 auto;
 	margin-top: 20px;
 }
 .form-horizontal .text-center button{
 	width: 58px;

height: 37px;
 }
}

@media (max-width: 1000px){
	#datepicker{
		width: 60%;
	}
}

@media (max-width: 767px){
	.from_wrap{
		padding-left: 20px;
		padding-right: 20px;
	}
	.from_wrap .form-group >div:nth-child(2){
		margin-bottom: 15px;
		width: 100%;
	}
}
@media (max-width: 600px){
	.ibox-content{
		padding: 0;
	}
	.from_wrap{
		padding: 0;
	}
}
@media (max-width: 520px){
	
	div.ibox-title{
		padding-left: 15px;
	}

}
@media (max-width: 500px){
	thead tr th:nth-child(1), thead tr th:nth-child(4), thead tr th:nth-child(5){
		padding-left: 0;
		padding-right: 0;
	}
	tbody tr td:nth-last-child(1) button{
		padding: 0;
	}
}

*/

/* 반응형 수정 */
@media (max-width: 1435px){
	#page-wrapper{
		overflow-x: scroll;
	}
}




@media (max-width: 767px){
	.form-group:nth-child(1) label:nth-child(1){
		display: inline-block;
		width: 10%;
		text-align: center;
	}
	.form-group:nth-child(1) div:nth-child(2){
		display: inline-block;
padding-left: 1px !important;
padding-right: 27px !important;
	}
	.form-group:nth-child(1) label:nth-child(3){
		display: inline-block;
text-align: right;
	}
	.form-group:nth-child(1) div:nth-child(4){
		display: inline-block;
	}
	.form-group:nth-child(2) label:nth-child(1){
		display: inline-block;

width: 10%;

text-align: center;

float: left;

line-height: 2.5;
	}
	.form-group:nth-child(2) div:nth-child(2){
		display: inline-block;
		padding: 0;
	}

	#datepicker{
		padding-left: 16px !important;

padding-right: 9px;
	}
}

