@charset "utf-8";
select{
	text-align: center;
}
.form-control:focus, .single-line:focus{
	border: 1px solid #01B1EC !important;
}
.navbar-header{
	margin-left:0;
}

#page-wrapper{
	padding: 0;
}
div.col-lg-12{
	float: none;
}

.ibox{

	margin-bottom: 0;
}

/* 호스트 */



button.host_btn{
border-radius: 0;

margin-left: 10px;

background-color: #333 !important;

border-color: #333 !important;
margin: 0 auto;
}


/* 날짜 */
.dropdown_number{
	margin: 0;
}

.dropdown_number button{
	background-color: #FFF;

background-image: none;

border: 1px solid #e5e6e7;

border-radius: 1px;

color: inherit;

display: block;

padding: 6px 12px;

transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;

width: 100%;

font-size: 14px;
}

div.dropdown_number div span{
	border: none;
}
.dropdown_number div.dropdown ul{
	width: 100%;
	height: 300px;

overflow-y: auto;
	min-width: 0;
}
.dropdown_number div.dropdown ul li{

}
.dropdown_number div.dropdown ul a{

	text-align: center;
}
.dropdown_number .dropdown > button >span{
	float: right;

margin-top: 8%;
}

.input-daterange{
	float: left;
	/*! width: 112px; */
}
span.input-group-addon{
	float: left;
	border: none;
	padding-top: 10px;

}


/* 제한시간 */
.input-group-addon:last-child{
	border: none;
	
}
.form-horizontal .form-group:nth-child(5) .input-group-addon:last-child{
	 padding-top: 10px;
	padding-left: 15px;
}
input.form-control:focus{
	border: 1px solid #01B1EC !important;
}
textarea.form-control:focus{
border: 1px solid #01B1EC !important;
}
#dropdownMenu3{
	margin: 0;
}

/* 비밀번호, 저장, 취소 button */
.horizontal .form-group:last-child{
 margin-bottom: 30px;
}

.text-center{

	text-align: right;
}
.text-center button{
	background-color: #333 !important;
border-color: #333  !important;
border-radius: 0;
}
.text-center button:last-child{
	background-color: #fff !important;

color: #333;
}

/* 푸터 */
.footer{

	bottom: 0;
}



/* 수정 */

.form-horizontal{
margin-bottom: 20px;

}
.form-horizontal >.form-group{
	width: 100%;
	margin: 0 auto;
}

#data_5{
	padding-left: 30px;

padding-right: 0;

margin-right: 15px;

}

#datepicker{
	
width: 100%;
}
#datepicker input{
	height: 34px;
}

/* 반응형 */
@media (max-width: 1400px){
	.form-horizontal >div:nth-child(1) div, .form-horizontal >div:nth-child(3) >div:nth-child(2){
		width: 30%;
	}
	.form-horizontal > div:nth-child(1) > div:nth-child(3) {
    float: left;
    width: 53%;
	}

	.form-group .dropdown_number{
		width: 40%;
	}
	.form-horizontal >div:nth-child(11) >div:nth-child(2){
		width: 30%;
	}
	.form-horizontal >div:nth-child(11) >div:nth-child(3){
		display: none;
	}
	.form-horizontal >div:nth-child(11) >div:nth-child(4){
		text-align: left;
		float: right;
	}
	.form-horizontal > div:nth-child(11) > div:nth-child(4){
		display: inline-block !important;
		float: right;
	}
	.text-center{
		text-align: right;
		margin-left: 11.8%;
	}
	.form-group:last-child > div.col-sm-2{
		width:30%;
	}
	.form-group:last-child > div:nth-child(3){
	display: none;
	}

}
@media (max-width: 1000px){
	.form-group .col-sm-10{
		width: 75% !important;
		/*! padding: 0; */
	}
.form-horizontal >div:nth-child(11) >div:nth-child(2){
		width: 40%;
	}
	
	.form-group .dropdown_number{
		width: 55%;
	}
}

	@media (max-width: 911px){
		.form-horizontal > div:nth-child(11) > div:nth-child(2){
			width: 66.66666667%;
		}
		.text-center{
			width: 100%;

text-align: center;

margin-top: 20px;
margin-left: 0;
		}
	}
	@media (max-width: 852px){
		.form-horizontal .control-label{
			width: 100px;
		}
		#data_5{
			width: 67%;
		}
.form-horizontal .form-group.dropdown_number .dropdown_number{
			
			width: calc(100% - 100px);
		}

	.form-horizontal .form-group.dropdown_number .input-group-addon:last-child {
padding-left: 5px;
}
		.time_btn_group {
			margin-left: 100px;
		}
		.time_btn_group > div{
			width:	30%;
		}
		.time_btn_group >span{
			padding-left: 5px;
		}
		.dropdown_number >div:nth-child(1){
			width: 62%;
		}
		.form-horizontal .form-group:nth-child(5) .input-group-addon:last-child{
			padding-left: 5px !important;
		}
		.form-horizontal > div:nth-child(1) div{
			width: 33%;
		}
		.text-center{
			margin: 0 auto;

			float: none;

			width: 90%;

			text-align: center;
		}
		.form-horizontal > div:nth-child(1) > div:nth-child(3) {

    float: unset;
    width: 92%;

}
	}

@media (max-width: 767px){
		.form-horizontal .form-group.dropdown_number .dropdown_number{
		width: calc(100% - 25%) !important;
		
	}
	.form-horizontal .form-group{
		width: auto;
		margin: 0 auto;
	}
	.form-horizontal > div:nth-child(1) > div:nth-child(3){
		width: 98%;

margin-left: 25%;
		
	}
		.form-horizontal > div:nth-child(3) span.input-group-addon{
		padding: 0 !important;
		padding-left: 5px !important;
	}
	#datepicker{
		padding: 0;
	}
	.form-horizontal .form-group label{
		float: left;
		width: 25%;
		text-align: center;
	}
	#data_5{
		padding-left: 15px;
	}
	.form-horizontal .form-group:nth-child(1) > div:nth-child(2){
		float: left;
		width: 55%;
		padding-right: 0;
	}
		.form-horizontal .form-group > div:nth-child(3){
        width: auto;
        clear: both;
        text-align: center;
	}
	.float-e-margins .btn{
		
	margin-top: 15px;
	}
	.form-horizontal > div:nth-child(3) > div:nth-child(2){
		float: left;
		width: 55% !important;
	}
	.form-horizontal > div:nth-child(3) > div:nth-child(3){
		margin: 0 auto;
		margin-top: 50px;

		margin: 0;
		margin-top: 0px;
		margin-left: 0px;
		clear: both;
		margin-left: 25%;
		margin-top: 10px;
		padding-left: 15px !important;
	}
	.form-horizontal > div:nth-child(3) span.input-group-addon{
		margin-top: 10px;
		padding-right: 25px;
		padding-top: 15px;
	}
		.form-horizontal > div:nth-child(3) div:nth-child(5){
		margin-top: 10px;
	}
	.form-group .dropdown_number{
		margin: 0 auto;
		padding: 0;
		width: 92%;
	}
	.form-group .dropdown_number >div{
		float: left;
		width: 60%;
		padding: 0;
		padding-left: 15px;
	}
	.form-group .dropdown_number >span{
		float: left;

padding-left: 4% !important;
	}
	.form-group .col-sm-10{
		float: left;
	}
	.form-horizontal > div:nth-child(11) > div:nth-child(2){
		float: left;
	}
	.form-horizontal > div:nth-child(3) > div:nth-child(3) >div{
		padding-left: 15px !important;
		/*! width: 90%; */
		width: 33%;
		margin: 0 auto;
		padding: 0 !important;
		margin-top: 15px;
	}
	.form-group div.col-sm-8{
		width: 70%;;
		float: left;
		padding-right: 12px;
	}
	.form-group span.col-sm-8{
		width: 70%;
		float: left;
		padding-right: 12px;
	}
	.form-horizontal > div:nth-child(11) > div:nth-child(2){
		width: 58%;

padding-right: 17px;
	}
	.panopto_btn .text-center{
		clear: both;
	}
	.form-group:last-child > div.col-sm-2{
		width: 70%;
		float: left;
	}

}
@media (max-width: 614px){
	.form-horizontal .form-group > div:nth-child(3){
		text-align:center;

	}
	button.host_btn{
		margin-top: 15px;
	}
}
@media (max-width: 543px){
	.form-horizontal .form-group.dropdown_number .dropdown_number {
	    width: 100% !important;
}
.form-group .dropdown_number > div {

    width: 94%;
    padding: 0 !important;

}
.form-group:last-child > div.col-sm-2 {

    width: 100%;
    padding: 0 40px;
}
	.form-horizontal .form-group:nth-child(1) > div:nth-child(2){
	width: 100%;
	padding: 0 40px;

	}
	.form-horizontal > div:nth-child(1) > div:nth-child(3){
width: 100%;

margin: 0;

padding: 15px 40px;

	}
	.form-horizontal > div:nth-child(1) .time_btn_group div.input-daterange{
		width: 35%;
	}
	.form-horizontal > div:nth-child(1) .time_btn_group div.input-daterange{
			width: 35%;		
			margin-left: 10px;
			padding: 0 !important;
	}
	.form-horizontal > div:nth-child(3) > div:nth-child(2){
		width: 100% !important;
		padding: 0 40px;
		margin-bottom: 15px;
	}

	.form-horizontal > div:nth-child(3) > div:nth-child(3) > div{
		width: 100%;
	}
	.form-horizontal > div:nth-child(3) > div:nth-child(3){
		padding-left: 40px !important;
		margin-left: 0;
	}
	#data_5 {

    padding: 0 40px;
    width: 100%;

}
	#datepicker{
		padding: 0;
	}
	.form-horizontal > div:nth-child(3) > div:nth-child(3) > div{
		width: 38%;
		margin: 0 auto;
	}
	.form-horizontal > div:nth-child(3) span.input-group-addon{
		padding-right: 5%;
		padding-top: 0;
	}
	.form-group .dropdown_number{
		clear: both;
		margin-right: 0;
	}
	.form-group .dropdown_number > div{
		width: 91%;
		padding: 0;
	}
	.form-horizontal .form-group:nth-child(5) .input-group-addon:last-child{
		padding-left: 8px !important;
	}
	.form-group div.col-sm-8{
		clear: both;
		width: 100%;
		padding: 0 40px;
	}
	.form-group span.col-sm-8{
		clear: both;

width: 100%;

padding: 0 40px
	}
	.form-horizontal > div:nth-child(11) > div:nth-child(2){
		clear: both;

width: 100%;

padding: 0 40px;
	}
}
@media (max-width: 414px){
	.form-horizontal .form-group label{
		margin-top: 0px;
	}
	.text-center{
		margin-bottom: 20px;
	}
	.form-horizontal .form-group{
		text-align: center;
	}
	.form-horizontal .form-group label{
		float: none;
		width: 100%;
margin-bottom: 10px;
	}
	.form-group .col-sm-10{
		width: 100% !important;
	}
	.form-horizontal > div:nth-child(11) > div:nth-child(2){
		width: 80% !important;
		float: none;
		margin: 0 auto;
	}
	.form-horizontal > div:nth-child(11) > div:nth-child(4){
		float: none;

		text-align: center;
		margin-top: 15px;
	}
	.form-group .dropdown_number > div{
		width: 83%;
		padding-left: 15%;
	}
	.ibox-content{
		padding: 0;
	}
}
@media (max-width: 350px){
	.form-horizontal > div:nth-child(3) > div:nth-child(2){
		padding: 0 15px;
	}

	.form-horizontal > div:nth-child(3) > div:nth-child(3) {

    padding-left: 15px !important;
}
.form-horizontal > div:nth-child(3) > div:nth-child(3) > div{
	padding-left: 25px !important;
}
.form-horizontal .form-group:nth-child(1) > div:nth-child(2){
	padding: 0 3%;
}
	#data_5{
		padding: 0 3%;
	}	
	.form-group div.col-sm-8{
		padding: 0 3%;
	}
	.form-group span.col-sm-8{
		padding: 0 3%;
	}
	.form-horizontal > div:nth-child(11) > div:nth-child(2){
		padding: 0 3%;
	}
}

