@charset "utf-8";

.btn-danger{
	background-color: #999 !important;
border-color: #999 !important;

}


table tr td button a{
	color: #676a6c;
}



/* 수정 */
.left_form{
	margin: 0 auto;
width: 92%;
display: block;
}
.left_form .form-group > div{
	padding-right: 	0;
}
#datepicker input{
		height: 34px;
}

#datepicker{
	width: 100%;

}

.table-bordered{
 	max-width: 95%;
 	margin: 0 auto;
 }
.form-horizontal .from-group:nth-child(1) .control-label:nth-child(2){
	width: 18.5%;
}

.text-center{
	text-align: right;
}
tbody tr td a{
	color: #676a6c !important;
}
tbody tr td button{
	background: #e1e1e1;

border: 1px solid #b0b0b0;

padding: 1px 10px;
}

div.col-lg-12{
	min-width: 1111px !important;

}
div.dashboard_con{
		min-width: 1149px !important;
}
/* 반응형 */

@media (max-width: 1200px){
/* nav */

/*
 tbody tr td:nth-child(1),tbody tr td:nth-child(2),tbody tr td:nth-child(3),tbody tr td:nth-child(4){
	text-align: center;
	vertical-align: middle;
 }
 tbody tr td:nth-last-child(1) button{
 	margin: 0 auto;
display: block;
 }
 .left_form{
 	width: 100%;
 }
 .form-horizontal div.text-center{
 	float: none;
margin: 0 auto;
 	margin-top: 20px;
 }
 .form-horizontal .text-center button{
 	width: 58px;

height: 37px;
 }

}

@media (max-width: 1000px){
	#datepicker{
		width: 60%;
	}
}

@media (max-width: 767px){
	.from_wrap{
		padding-left: 20px;
		padding-right: 20px;
	}
	.from_wrap .form-group >div:nth-child(2){
		margin-bottom: 15px;
		width: 100%;
	}
@media (max-width: 490px){
	.ibox-content{
		padding: 0;
	}
	div.ibox-title{
		padding-left: 15px;
	}
}
@media (max-width: 450px){
	thead tr th:nth-child(1), thead tr th:nth-child(4){
		padding-left: 0;
		padding-right: 0;
	}
	tbody tr td:nth-last-child(1) button{
		padding: 0;
	}
}*/
}
