@charset "utf-8";
h6{
	font-size: 13px;
text-align: center;
font-weight: bold;
}
.from_wrap{
margin-top: 3%;
clear: both;
}

.ibox-content .nav-tabs li{
border-left: 0;
width: 20%;
box-sizing: border-box;
transition: all 0s;

}

.ibox-content .nav-tabs >li.active{

box-sizing: border-box;
border-bottom: 4px solid #01b1ec;
}
.ibox-content .nav-tabs >li a{
margin: 0;

padding-left: 5%;

text-align: center;

padding-right: 5%;

width: auto;
padding-bottom: 14px;
}
.ibox-content .nav-tabs li.active a{
	padding-bottom: 10px;

}
body.mini-navbar .ibox-content .nav > li a{
	padding-right: 5%;
}
.ibox-content .nav-tabs li.dropdown li{
text-align: center;
width: 100%;
}
.ibox-content .nav-tabs li.dropdown li{
	border: none;
}
.ibox-content .nav-tabs li.dropdown li a{
padding-bottom: 3px;
}
.ibox-content .nav-tabs li.dropdown li.active a{
	background: #999;

border-radius: 0;
}
#all_data >div:nth-child(1){
margin-top: 20px;
}

#live_data >div{
margin-top: 20px;
}
.ibox-content .nav-tabs li:last-child{
	/*! float: right; */

	/*! width: 10%; */
}
.ibox-content .nav-tabs li:last-child a{ 
background: none;
box-shadow: none;
border: none;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{
	border-color: #ddd;
}

@media (max-width: 768px){
	.ibox-content ul.nav-tabs{
		width: 100%;
position: static;
	}
}