@charset "utf-8";
body{
    overflow: visible;
    background-color: #f3f3f4;
}
nav.navbar-static-side{
position: fixed;	
}
body.mini-navbar .navbar-static-side{
position: fixed;
}
div#page-wrapper{
    min-width: 1111px;
	overflow: visible;
}

.navbar-static-top{
	    margin: 0;
    padding-left: 40px;
}
.wrapper-content{
	min-width: 1111px;
    padding: 0;
    margin: 0;
}
#page-wrapper .footer{
	margin: 0;
    min-width: 1111px !important;
}

.footer{
    min-width: 1111px !important;
    margin-left: 285px;
        bottom: 0;
}
.mini-navbar .footer{
	margin-left: 70px;
        bottom: 0;
}

div.dashboard_con {
    min-width: 1111px !important;
}


div#page-wrapper{
    height: auto;
    padding-bottom: 50px;
}