@charset "utf-8";
#wrap{
	position: relative;
}
.side_bar{
width: 6%;
height: 100vh;
border-right: 1px solid #ddd;
position: fixed;
z-index: 111;
background-color: #fff;
}
.side_bar button{
	margin: 0 auto;
display: block;
	margin-top: 15px;
}
.side_roll{
	height: 100vh;

background-color: #fff;

width: 24%;

position: absolute;

left: -24%;
	border-right: 1px solid #ddd;
	float: left;
	z-index: 1;
}
#content{
position: relative;
	height: 75vh;
}
#content .embed-responsive{
	padding: 0;
}
#content .embed-responsive iframe{
	background-color: #000;
}
#bottom_con{
	height: 25vh;
		

	
}
#right_wrap{
	width: 94%;
	left: 6%;
	position: relative;
}
.close{
	position: absolute; right: 5px; top: 0;
}
.banner{
	height: 10vh;
}
.owl-item{

height: 100%;
}
.owl-dots{
	display: none;
}
.owl-stage{
	height: 84px;
}
.owl-stage .item{
	height: 84px;
}
.owl-carousel .banner1{
background: url('../img/banner_bg.png');
background-size: 100%;
background-position-y: 79%;

}
.owl-carousel .banner2{
background: url('../img/banner_bg2.png');
background-size: 100%;
background-position-y: 50%;
}
.owl-carousel .banner3{
background: url('../img/banner_bg3.png') no-repeat;
background-size: 1300px;
background-position-y: 49%;
background-position-x: 48%;
background-color: #eee;
}
.owl-carousel .banner1 h1{
	margin: 0;
	font-weight: bold;
	font-size: 42px;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
	color: #23527c;
	line-height: 84px;
	display: table;
	float: left;

	padding-left: 60px;
	padding-right: 50px;
}
.banner1 .inner_carousel{
	margin: 0 auto;
max-width: 800px;
}
.owl-carousel .banner1 .inner_h img{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
 .banner1 .inner_p{
	display: table;

height: 84px;

	margin: 0 auto;
}
 .banner1 .inner_p p{
	display: table-cell;

vertical-align: middle;

font-size: 19px;

color: #555;
}
.inner_h{
	float: left;
	position: relative;
}
 .banner1 .inner_p p br{
	display: none;
}
.owl-carousel .banner1 .inner_h span{
    border-right: 1px solid #fff;
    padding-right: 50px;
    float: left;
    height: 50px;

    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.close{
	position: absolute; right: 0; top: 0;
	font-size: 45px;
	opacity: 0.3;
	width: 52px;
}

/* 배너 2 */
.banner2 .banner_p{
color: #fff;
font-weight: bold;
margin: 0 auto;
text-align: left;
display: table-cell;
vertical-align: middle;
line-height: 1;
}
.banner2 .banner_p span{

	font-size: 15px;
	font-weight: 100;
	opacity: 0.8;
}
.banner2 .banner_p h1{
	margin: 0;
	line-height: 1.2;
	font-weight: bold;
}
.banner2 .banner_p small{

	color: #fff;
	opacity: 0.6;
}
.banner2 .inner_carousel{
display: table;
height: 100%;
margin: 0 auto;
text-shadow: 0 1px 2px rgba(0,0,0,.6);
color: #fff;
}
/* 배너3 */
.banner3 .inner_carousel{
	display: table;

height: 100%;

margin: 0 auto;
}

.banner3 h1{
margin: 0;


font-size: 25px;

display: table-cell;

vertical-align: middle;

color: #454545;
text-align: left;
line-height: 1.2;
padding-right: 10px;
}

.banner3 h1 span{
	font-size: 18px;

}

.banner3  h1 a{
	margin-left: 10px;
}
.baro i{
	margin-left: 5px;
}
#banner_carousel2{
	display: none;
}
.close_set{
	display: none !important;
}
.banner_position{
position: relative;
bottom: 15vh;
height: 0;
left: 50%;
transform: translateX(-50%);
width: 70%;

z-index: 111111;
}
.baro{
position: absolute;
top: 50%;
transform: translateY(-50%);
}

/* 로딩 스피널 */

#loading_spinner.fade.in{
display: block;
}

#loading_spinner .modal-dialog{
	z-index: 111111;
width: 150px;
margin-top: calc(50vh - 33px);
}

#loading_spinner .modal-content button{
	background-color:#111;
border-color:#000;
}

#loading_spinner .modal-content button span{
	    width: 2rem;
    height: 2rem;
    margin-top: 10px;
}
#loading_spinner .modal-content button p{
	font-size: 15px;
}


/* 반응형 */
@media (max-height: 800px){
	.owl-carousel .owl-stage{
		height: 84px;
	}
	.owl-carousel .owl-item{
		height: 84px;
	}
	.banner1 .inner_carousel{
		height: 84px;
	}
	.owl-stage .item{
		height: 84px;
	}
	.banner1 .inner_p{
		height: 84px;	
	}
	.inner_h{
		height: 84px;

	}
	.owl-carousel .banner1 h1{
		display: table-cell;
vertical-align: middle;
line-height: 84px;
	}
	.owl-carousel .banner1 inner_h img{
		height: 84px;
padding: 10px 0px;
	}
	.banner_position{
		bottom: 125px;
	}
}
@media (max-height: 600px){
	.banner2 .banner_p span{
		display: none;
	}
	.banner3 .baro span{
		display: none;
	}
	.banner3 br{
		display: none;
	}
	.banner3 h1 span{
		display: none;
	}
}

@media (max-width: 1024px){
	.owl-carousel .banner1 .inner_h img{
		left: 7%;
	}
	#side_bar_wrap{
		display: none;
	}
	#right_wrap{
		width: 100%;
		left: 0;
	}
	#content{
		width: 100%;
		left: 0;
	}
	#bottom_con{
		width: 100%;
		left: 0;
	}
	.banner1 .inner_p p br{
		display: inline-block;
	}
	.banner1 .inner_p p{
		font-size: 17px;
	}
	.owl-carousel .banner1 h1{
		margin-left: 30px;
	}
	.owl-carousel .banner3{
	background-position-x: -200px;
background-size: 1000px;
	}
	.owl-carousel .banner1 h1 span{
	padding-right: 10px;
}
}

@media (max-width: 767px){
	#loading_spinner .modal-dialog{
	margin: 1.75rem auto;
	margin-top: calc(50vh - 33px);
	}
}
@media (max-width: 750px){

.banner_position{
	width: 80%;
}
}
@media (max-width: 680px){
.baro a{
	font-size: 13px;
padding: 6px 6px;
}
	.banner3 h1 span{
		font-size: 14px;
	}
	.banner3 h1{
		font-size: 20px;
		padding: 0;
	}
	.owl-carousel .banner1 h1{
		font-size: 33px;
	}
	.owl-carousel .banner1 .inner_h img{
		width: 55px;
	}
	.banner1 .inner_p p {
    font-size: 14px;
}
.baro{
right: 5%;
}
.owl-carousel .banner3{
	background-position-x: -225px;
}
.owl-carousel .banner1 h1{
	padding-right: 15px;
}
}
@media (max-width: 520px){
	.owl-carousel .banner1 h1{
		margin: 0;
	}
	.owl-carousel .banner3{
		background: url('../img/banner3_bg2.png');
		background-size: 1000px;
		background-position-x: -225px;
		background-size: cover;
		background-position-y: 49%;
		background-position-x: -75px;
		background-color: #eee;
	}
	.banner3 .inner_carousel{
		margin-left: 5%;
	}
	.owl-carousel .banner1 h1{
		margin-left: 2%;
	}
	.owl-carousel .banner1 .inner_h img{
		display: none;
	}
	.owl-carousel .banner1 h1 span {
    padding-right: 5px;
}

.owl-carousel .banner1 h1{
	padding-left: 3%;
}

}
@media (max-width: 410px){
	.owl-carousel .banner1 h1{
		display: none;
	}
	.banner1 .inner_p{
		margin-left: 5%;
	}
	.banner2 .banner_p span{
		display: none;
	}
	.banner3 h1 span{
		display: none;
	}
	.banner3 br{
		display: none;
	}
	.banner3 h1{
		font-size: 16px;
	}
	.baro {
    right: 3%;
}
.baro a{
	padding: 3px 3px;
}
.baro i{
	display: none;
}
.banner3 .inner_carousel{
	margin-left: 1%;
}
.banner2 .banner_p h1{
	font-size: 30px;
}
}
