@charset "utf-8";
.form-horizontal{
	text-align: right;

max-width: 95%;

margin: 0 auto;
}
.form-horizontal .search {

	display: inline-block;

margin: 0 auto;

width: auto;
}
.form-horizontal .search  input{
	width: 280px;

float: left;
}
.form-horizontal .search  button{
margin: 0;

background-color: #01B1EC;

border-color: #01B1EC;

color: #FFFFFF;

border-radius: 0px 4px 4px 0px;

width: 80px;

font-size: 15.4px;

padding: 5px 12px;

}
.excel_btn .btn{
color: #777;
background-color: #fff;
border-color: #ccc;

margin-bottom: 0px !important;
padding: 6px 12px;
box-sizing: border-box;
height: 34px;
width: 130px;
cursor: pointer;
}
.excel_btn .btn:first-child i{
	margin-right: 5px;
}
.excel_btn .btn i{
color: #41891B;
float: left;
line-height: 20px;
}
.file_input_div i{
color: #41891B;
}
.file_input_div {position: relative; width: 100px; height: 23px; overflow: hidden;margin-bottom: 0 !important;padding: 0;background: #fff;text-align: left;box-shadow: none;box-sizing: content-box;}
.file_input_button {width: 100%; position: absolute; top: 0px;  left: 0;background-color: #fff;color: #777;border: none;height: 100%;}
.file_input_button input:hover{
	cursor: pointer;
}
.file_input_hidden {font-size: 45px; position: absolute; right: 0px; top: 0px; opacity: 0; filter: alpha(opacity=0); -ms-filter: "alpha(opacity=0)"; -khtml-opacity: 0; -moz-opacity: 0;}

#excel_down .modal-body{
padding: 10px 30px;
}
#excel_down .modal-body table{
width: 100%;
max-width: unset;
}
#excel_down .modal-footer{
	padding: 10px 30px;
	text-align: center;
}
#excel_down .hr-line-dashed{
margin: 10px 0;
}
#excel_down tr td:last-child{
	padding: 0;
}
#excel_down tbody tr td a{
width: 100%;

height: 100%;

text-align: center;

padding: 8px;

display: block;
}
#excel_down tbody tr td a i{
color: #41891B;
}
#excel_down .modal-footer button{
	color: #333;
background-color: #fff;
border-color: #ccc;
}
#excel_down .pagination{
	margin: 0;
	clear: both;
}
#user_sign .form-horizontal .form-group{
	margin-bottom: 5px;
}
#user_sign .modal-body{
padding: 10px 30px;
}
#user_sign .modal-footer{
	padding: 10px 30px;
	text-align: center;
}
#user_sign .dropdown-menu {
	width: 100%;
}
#user_sign .dropdown{
	width: 100%;
}
#user_sign .dropdown button{
	width: 100%;
	background-color: #fff;

border-color: #ddd;

color: #666;
}
#user_sign .dropdown-menu  li a{
	text-align: center;
}
#user_sign  .modal-footer button.btn-primary{

color: #FFFFFF;
	background-color: #333;
	border-color: #333;
	width: 60px;
}
.btn_group >div{
max-width: 95%;
margin: 0 auto;
}
.excel{
	float: left;
}
.sub_button{
	float: right;
}
.excel_btn{
width: 95%;

margin: 0 auto;

height: 34px;
}
div.pn .pagination{
margin: 0;
}
.excel_btn .sub_button button:nth-child(1){
background-color: #333;

width: 80px;

color: #fff;

border-color: #333;
}
.float-e-margins .btn{
	margin-top: 0;
}

.excel_btn .sub_button >button:nth-child(2){
background-color: #fff;

width: 80px;

color: #333;

border-color: #333;
}
input[type="checkbox"]{
	display: inline-block;
}
#dropDownButtonPopupdropDownButton{
	z-index: 11111 !important;
}
#listBoxjqxWidget{
	z-index: 11111 !important;
}
#innerListBoxjqxWidget{
	height: 58px !important;
}
.sample_excel{
color: #777;
background-color: #fff;
border-color: #ccc;
margin-bottom: 0px !important;
padding: 6px 12px;
box-sizing: border-box;
height: 34px;
cursor: pointer;
}
.sample_excel i{
	
color: #41891B;
float: left;
line-height: 20px;
margin-right: 5px;
}
.sample_excel:hover, .sample_excel:focus{
	background: none;
	color: #777;
}
.group_name thead tr th:nth-child(2){
  text-align: left;
	padding-left: 30px;
}
.group_name tbody tr td:nth-child(2){
text-align: left;
padding-left: 30px;
}
/* 반응형 */
@media (max-width: 1400px){
.form-horizontal > div:nth-child(1) div, .form-horizontal > div:nth-child(3) > div:nth-child(2) {
    width: 75%;
}
}

@media (max-width: 767px){
	.form-group:nth-child(1) div:nth-child(2) {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.form-group:nth-child(1) .excel div:nth-child(2) {
    padding-left: 12px !important;
    padding-right: 12px !important;
}
#user_sign .form-group:nth-child(1) label:nth-child(1){
	width: 25%;
	height: 34px;
	margin: 0;
	line-height: 34px;
}
#user_sign .form-horizontal .form-group:nth-child(1) > div:nth-child(2){
width: 75%;
}
#user_sign .form-group:nth-child(2) label:nth-child(1){

width: 25%;
height: 34px;
	margin: 0;
	line-height: 34px;
text-align: center;
	}
	#user_sign .form-group:nth-child(2) div:nth-child(2){
		width: 75%;
	}
	#user_sign  .form-horizontal .form-group label {

    float: left;
    width: 25%;
    text-align: center;
    margin: 0;
   	line-height: 34px;
}
#user_sign .form-horizontal > div:nth-child(1) div, .form-horizontal > div:nth-child(3) > div:nth-child(2){
	width: 75% !important;
padding: 0;
	margin: 0;
}
.form-horizontal > div > div:nth-child(2){
	width: 75%;

float: left;

padding: 0;
}
}

@media (max-width: 600px){
#excel_down .modal-body{
	padding: 10px 15px;
	}
#excel_down .modal-body table{
	min-width: 461px;
}
}
@media (max-width: 428px){
#user_sign .modal-body{
	padding: 0;
	padding-top: 5px;
}
#user_sign .form-horizontal .form-group label{
	padding: 0;
}

}