@charset "utf-8";
.form-control:focus, .single-line:focus {
    border-color: #66afe9 !important;
}
.col-sm-2 #jqxWidget{
	height: 34px !important;
border-radius: 0;
}
#innerListBoxjqxWidget{
height: 100% !important;
}
.form-group div.col-sm-2{
	padding-left: 15px;
}
.invite_form{
text-align: left;
}
.table1 >thead th{
text-align: center;

font-weight: bold;

font-size: 14px;
}
.form-horizontal .table1 .form-group{
	margin-right: 0;
	margin-left: 0;
}
.hr-line-dashed{
	clear: both;
	margin: 15px 0;
}
.invite_form .host_btn{
	float: right;
}
.table2 button{
	float: none;
}
.table1 >tbody >tr >td{
	padding: 30px 20px;
}
.table1 >tbody >tr >td:nth-child(2){
	padding: 0;
	max-height: 366px;
	overflow-y: auto;
	display: block;
}

.table .table2{
	max-width: none;
}
.send .form-group{
margin-top: 20px;
}
.send >.form-inline{
margin-bottom: 10px;
}
.table1 button.host_btn{
background-color: #555 !important;
border-color: #666 !important;
}
.table1 .send button.host_btn{
	float: right;
	margin-top: 15px;
	margin-bottom: 0;
}

.col-lg-12 button.host_btn{
	margin-bottom: 0;
}

.invite_form button.add{

	float: left;

background-color: #01B1EC !important;

border-color: #01B1EC !important;

color: #FFFFFF;
}
 .form-horizontal  .table1  .send .form-group{
	width: 100%;
}
 .form-horizontal  .table1  .send .form-group label{
	display: block;
}
 .form-horizontal .table1  .send  .form-group input{
	width: 100%;
}
.bs-example-modal-lg .modal-footer{
	padding: 15px 30px;
}
.bs-example-modal-lg .modal-body {

    padding: 15px 30px 20px 30px;

}
.bs-example-modal-lg .modal-dialog {
	overflow: auto;
}
.bs-example-modal-lg .modal-content{
    min-width: 900px;
    min-height: 720px;
}
.add_table{margin: 15px auto;}

/*.invite_btn{
	text-align: center;
	margin-bottom: 10px;
}
.float-e-margins .invite_btn button{
	margin: 0;
	font-size: 15px;
}

.float-e-margins .invite_btn button:nth-child(1){
background-color: #01B1EC;
border-color: #01B1EC;
}
.float-e-margins .invite_btn button:nth-child(1):hover, .float-e-margins .invite_btn button:nth-child(1):focus{
	background-color: #12A8DB;
border-color: #069FD2;
}*/
.wrapper .col-lg-12 .sub_button{
	float: none;
	text-align: center;
	
	margin-bottom: 10px;
}
.wrapper .col-lg-12 .sub_button button{
	float: none;
	margin: 0;
	font-size: 15px;
}
.wrapper .col-lg-12 .sub_button button:nth-child(1) {
    background-color: #333;
    color: #fff;
    border-color: #333;
}
.wrapper .col-lg-12 .sub_button button:nth-child(2) {
    background-color: #fff;
    color: #333;
    border-color: #333;
}
.jqx-dropdownlist-content {
line-height: 32px;

margin: 0 !important;

}
.bs-example-modal-lg .modal-body .search {

	display: inline-block;

margin: 0 auto;

width: auto;
	height: 34px;
	float: right;
	margin-bottom: 15px;
}
.bs-example-modal-lg .modal-body .search  input{
	width: 280px;

float: left;
}
.bs-example-modal-lg .modal-body .search  button{
margin: 0;

background-color: #01B1EC;

border-color: #01B1EC;

color: #FFFFFF;

border-radius: 0px 4px 4px 0px;

width: 80px;

font-size: 15.4px;

padding: 5px 12px;

}

#invite_progress .modal-body{
	padding: 20px 30px 20px 30px;
}
#invite_progress .modal-footer{
	padding: 10px 30px;
}

#invite_progress .modal-footer button{
	background-color: #555;
border-color: #555;
}
.wrapper-content .form-horizontal .control-label{
width: auto;
}
.wrapper-content .form-horizontal div.col-sm-2{
width: 40%;
}
.wrapper-content .form-horizontal div.col-sm-1{
width: auto;
padding: 0;
text-align: left;	
}
.invite_form button.add{
	border-radius: 0;
}
.table1 button.host_btn{
	border-radius: 0;
}
.col-lg-12 button.host_btn{
	border-radius: 0;
background-color: #333;
border-color: #333;
}
#inviteDate #datepicker{
    padding: 0 !important;
width: 100%;
}
@media (max-width: 1400px){
	.form-horizontal > div:nth-child(1) div.col-sm-2{
width: 40%;
	}
	.form-horizontal > div:nth-child(1) .col-sm-1{
width: auto;
	}
}

@media (max-width: 767px){
	.form-horizontal > div:nth-child(1) label.col-sm-2{
margin: 0;
width: auto;
line-height: 34px;
float: left;
}
.form-horizontal .form-group:nth-child(1) > div:nth-child(2) {
    width: 35%;
    padding: 0px 15px!important;
}
	.form-horizontal > div:nth-child(1) .col-sm-1{
clear: none;

float: left;
	}

	textarea.form-control{
		margin-top: 10px;
	}
	.form-horizontal .table1 .form-group{
		margin-bottom: 15px;
	}
}
@media (max-width: 414px){
.form-horizontal >.form-group:nth-child(1) {
	margin-top: 15px;
}
.form-horizontal > div:nth-child(1) label.col-sm-2{
	float: left;
}
.table1 .invite_form label{
	width: auto;
margin-top: 0;
float: left;
}

.table1  .send label{
	width: auto;
margin-top: 0;
float: left;
}
}

        .modal.in .modal-dialog{
            margin: auto;

            position: absolute;

            left: 50%;

            top: 50%;

            transform: translate(-50%, -50%);
        }
        .tableBody_scroll{
            position: relative;
            padding-top: 37px;
            overflow: hidden;
            height: calc(100% - 37px) !important;
            width: calc(100% - 30%);
            left: 258px;
        }
        .tableBody_scroll > div{
            position: unset;
            height: 100%;
            overflow: auto;
        }
        .tableBody_scroll table tbody tr td:nth-child(1){
            width: 5%;
        }
        .tableBody_scroll table tbody tr td:nth-child(2){
            width: 20%;
        }
        .tableBody_scroll table tbody tr td:nth-child(3){
            width: 15%;
        }
        .tableBody_scroll table tbody tr td:nth-child(4){
            width: 30%;
        }
        .tableBody_scroll table tbody tr td:nth-child(5){
            width: 20%;
        }
        .tableBody_scroll table tbody tr td:nth-child(6){
            width: 10%;
        }
        .tableBody_scroll table tbody tr td{
        padding: 0;

        white-space: nowrap;

        overflow: hidden;

        text-overflow: ellipsis;

        max-width: 0;
        }
        .tableBody_scroll table thead{
            position: absolute; top: 0;display: block;background-color: #fff;width: 100%;height: 38px;padding-right: 17px; left: 0;
        }
        .tableBody_scroll table thead tr th:nth-child(1){
            width: 5%;
        }
        .tableBody_scroll table thead tr th:nth-child(2){
            width: 20%;
        }
        .tableBody_scroll table thead tr th:nth-child(3){
            width: 15%;
        }
        .tableBody_scroll table thead tr th:nth-child(4){
            width: 30%;
        }
        .tableBody_scroll table thead tr th:nth-child(5){
            width: 20%;
        }
        .tableBody_scroll table thead tr th:nth-child(6){
            width: 10%;
        }
		.tableBody_scroll > div > table{ margin: 0 auto; max-width: 100%;}