<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="configFragment">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Panopto API Sample</title>
	<link th:href="@{/resource/assets/css/reset.css}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/resource/assets/css/bootstrap.min.css}">
	<link th:href="@{/resource/assets/font-awesome/css/font-awesome.css}" rel="stylesheet">

    <!-- 캘린더 -->
    <link th:href="@{/resource/assets/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/resource/assets/font-awesome/css/font-awesome.css}" rel="stylesheet">

    <link th:href="@{/resource/assets/css/plugins/datapicker/datepicker3.css}" rel="stylesheet">

    <link th:href="@{/resource/assets/css/animate.css}" rel="stylesheet">
    <link th:href="@{/resource/assets/css/style.css}" rel="stylesheet">
    
    <script th:src="@{/resource/assets/js/jquery-2.1.1.js}"></script>
    <script th:src="@{/resource/assets/js/bootstrap.min.js}"></script>
    
    <!-- Custom and plugin javascript -->
    <script th:src="@{/resource/assets/js/inspinia.js}"></script>

    <!-- jQuery UI -->
    <script th:src="@{/resource/assets/js/jquery-ui-1.10.4.min.js}"></script>

	<!-- Data picker -->
	<script th:src="@{/resource/assets/js/plugins/datapicker/bootstrap-datepicker.js}"></script>
	<!-- 캘린더 -->
	
	<!-- 메뉴 js -->
    <script type="text/javascript" th:src="@{/resource/assets/js/menu_style.js}"></script>
    <script type="text/javascript" th:src="@{/resource/assets/js/menu_click.js}"></script>
    
    <!-- 홈 액티브 클래스 활성 -->
    <script type="text/javascript" th:src="@{/resource/assets/js/home_active.js}"></script>
	
	<!-- jqwidgets -->
	<link rel="stylesheet" th:href="@{/resource/assets/jqwidgets/jqwidgets/styles/jqx.base.css}" type="text/css" />
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqwidgets/jqxcore.js}"></script>
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqwidgets/jqxscrollbar.js}"></script>
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqwidgets/jqxbuttons.js}"></script>
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqwidgets/jqxtree.js}"></script>
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqwidgets/jqxpanel.js}"></script>
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqwidgets/jqxlistbox.js}"></script>
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqwidgets/jqxdropdownlist.js}"></script>
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqwidgets/jqxdata.js}"></script>
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqwidgets/jqxexpander.js}"></script>
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqwidgets/jqxsplitter.js}"></script>
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqwidgets/jqxprogressbar.js}"></script>
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqwidgets/jqxcheckbox.js}"></script>
    <script type="text/javascript" th:src="@{/resource/assets/jqwidgets/jqwidgets/jqxfileupload.js}"></script>
    
    <!-- donghee's sheet -->
    <link rel="stylesheet" type="text/css" th:href="@{/resource/assets/css/layout_donghee.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/resource/assets/css/menu_modify.css}">
    <!-- 컨텐츠페이지의 CSS 영역이 들어감 -->
    <th:block layout:fragment="css"></th:block>

	<!-- Mainly scripts -->
    <script th:src="@{/resource/assets/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/resource/assets/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
    
    
	<!-- 버튼 방향 스크립트 -->
    <script type="text/javascript">
	    function logout() {
// 			var win_logout = window.open("https://www.utime.kr/wp-login.php?action=wp-saml-auth&SSO_LOGOUT", 'panopzoom_ssoto', 'fullscreen=no, left=0,top=0,width=1,height=1');
// 			setTimeout(function(){
// 				try { win_logout.close(); } catch(E) {}
				location.href = "/logout";
// 			}, 3000);
		}
    
	    // 1/1000초 마다 nowDate() 함수가 반복 실행 될수 있도록 합니다.
	    function timeGo() {
	       setInterval("nowDate()",1000);
	    } 
	    function nowDate() {
	       var now = new Date(); 
	       // now.toLocaleString() 로 현재 시간을 표시 해줍니다.
	       document.getElementById('timeArea').innerHTML = now.toLocaleString();
	    }
	    /*반응형*/
	    $(document).ready(function() {
		    $(window).resize(function(){
		        var width = parseInt($(this).width()); //parseint는 정수로 하기 위함
	
	            if (width > 768){
	                var bn=0;
	                $("a.navbar-minimalize").click(
	                    function(){
	                        bn++;
	                        if(bn<2){
	                            $("a.navbar-minimalize i").removeClass("fa-caret-left");
	                            $("a.navbar-minimalize i").addClass("fa-caret-right");
	                        }else{
	                            bn=0;
	                            $("a.navbar-minimalize i").removeClass("fa-caret-right");
	                            $("a.navbar-minimalize i").addClass("fa-caret-left");
	                        }
	                    }
	                );   
	            } else {
	                $("a.navbar-minimalize i").removeClass("fa-caret-left");
	                $("a.navbar-minimalize i").addClass("fa-caret-right");
	                 var bn=0;
	                $("a.navbar-minimalize").click(
	                    function(){
	                        bn++;
	                        if(bn<2){
	                            $("a.navbar-minimalize i").removeClass("fa-caret-right");
	                            $("a.navbar-minimalize i").addClass("fa-caret-left");
	                        }else{
	                            bn=0;
	                            $("a.navbar-minimalize i").removeClass("fa-caret-left");
	                            $("a.navbar-minimalize i").addClass("fa-caret-right");
	                        }
	                    }
	                );   
	            }
	
	        }).resize();
		    
		    timeGo();
	    });
    </script>
    <!-- 컨텐츠페이지의 스크립트 영역이 들어감 -->
    <th:block layout:fragment="script"></th:block>
</head>

</html>