<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<meta charset="utf-8">
<div id="wrapper" th:fragment="headerFragment">
        
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">

                        <div class="dropdown profile-element">
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">반갑습니다! API 테스터</span>님</strong>
                                </span>
                            </span>
                        </div>
                        <div class="navbar-header">
                            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#" onfocus="blur()"><i class="fa fa-caret-left" aria-hidden="true"></i>
                            </a>
                            
                        </div>

                        <div class="logo-element">
                           <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#" onfocus="blur()"><i class="fa fa-caret-left" aria-hidden="true"></i>
                            </a>
                        </div>
                    </li>
                    <li>
                        <ul class="nav nav-first-level">
                            <li class="active">
                                <a href="#" class="second_btn"><span class="nav-label">API기능목록</span><span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="/pt/schedule_a_meeting_soon">
                                        	<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            <span class="nav-label">즉시세션만들기</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/pt/schedule_a_meeting">
                                        	<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            <span class="nav-label">예약세션만들기</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" th:href="${launchUrl}">
                                        <i class="fa fa-video-camera" aria-hidden="true"></i>
                                        <span class="nav-label">APP실행호출</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/pt/schedule_list">
                                            <i class="fa fa-table" aria-hidden="true"></i>
                                            <span class="nav-label">목록가져오기</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- 시간이 삽입될 div 셋팅 -->
            <div id='timeArea'></div>
        </nav>
	</div>
</html>