<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/default}">

<meta charset="utf-8">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" href="/resource/assets/css/recording_management.css">
    <link rel="stylesheet" type="text/css" href="/resource/assets/css/schedule_list.css">
    <link rel="stylesheet" type="text/css" href="/resource/assets/css/table_modi.css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<script>
	        $(document).ready(function(){
	
	            $('#data_5 .input-daterange').datepicker({
	                keyboardNavigation: false,
	                forceParse: false,
	                autoclose: true
	            });
	            
	        });
	        
	        function goStatistics(obj) {
	        	var arr_value = obj.value.split("S|E");
	        	var url = arr_value[0].substring(0, arr_value[0].indexOf("Viewer.aspx")) + "Analytics.aspx#sessionId="+arr_value[1];
				window.open(url, "_blank");
	        }
	</script>
</th:block>

<div layout:fragment="content">
	<div id="page-wrapper" class="gray-bg dashbard-1">
		<div class="row border-bottom">
			<nav class="navbar navbar-static-top" role="navigation"
				style="margin-bottom: 0">
					<h1>웹세미나</h1>

				<!-- 반응형 시 드러나는 버튼 -->

				<div class="navbar-header minibody_btn">
					<a class="navbar-minimalize minimalize-styl-2 btn btn-primary "
						href="#" onfocus="blur()"><i class="fa fa-caret-left"
						aria-hidden="true"></i> </a>

				</div>

			</nav>

		</div>

		<!-- 컨텐츠 -->


		<div class="row wrapper wrapper-content">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>통계분석</h5>
					</div>
					<div class="ibox-content">
						<div class="from_wrap">

							<form name="searchFrm" method="post"
								action="/pt/report_list" class="form-horizontal">
								<input type="hidden" name="currentPage" value="1">
								<!-- 호스트 -->
								<div class="left_form">
									<div class="form-group">
										<label class="col-sm-1 control-label">검색기간</label>
										<div class="form-group col-sm-5" id="data_5">
											<div class="input-daterange input-group" id="datepicker"
												style="padding-left: 13px;">
												<input type="text" class="input-sm form-control"
													name="startDate" style="text-align: center;"
													th:value="${startDate}" autocomplete="off"> <span
													class="input-group-addon">~</span> <input type="text"
													class="input-sm form-control" name="endDate"
													style="text-align: center;" th:value="${endDate}"
													autocomplete="off">
											</div>
										</div>
										<div class="text-center col-sm-3">
											<button type="submit" class="btn btn-primary">검색</button>
										</div>
										<div class="col-sm-1"></div>
									</div>

								</div>

							</form>
						</div>
						<div class="hr-line-dashed"></div>

						<table class="table table-striped table-bordered table-hover">
							<colgroup>
								<col width="10%">
								<col width="35%">
								<col width="18.333%">
								<col width="18.333%">
								<col width="18.333%">
							</colgroup>
							<thead>
								<tr>
									<th style="text-align: center;">번호</th>
									<th style="text-align: center;">제목</th>
									<th style="text-align: center;">시작일시</th>
									<th style="text-align: center;">개설자</th>
									<th style="text-align: center;"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="list,idx : ${list}">
									<td style="text-align: center;" th:text="${maxnumber - idx.index}">번호</td>
									<td style="text-align: left;" th:text="${list.name}">제목</td>
									<td style="text-align: center;" th:text="${(list.startTime).time}">시작일시</td>
									<td style="text-align: center;" th:text="${T(utils.Utils).returnName(list.creatorId, users)}">개설자</td>
									<td style="text-align: center;">
										<button type="button" th:attr="value=${list.editorUrl}+'S|E'+${list.id}" onclick="goStatistics(this)">통계</button> 
									</td>
								</tr>
							</tbody>
						</table>

						<div class="pn" th:utext="${page}"></div>
					</div>
				</div>
			</div>
		</div>
		<footer th:replace="fragments/footer :: footerFragment"></footer>
	</div>
</div>
</html>